<div class="s-footer-container">
    <div class="s-footer-border clearfix">
        <div class="s-deco hidden-sm hidden-xs">
            <span class="sprite sprite-fc">
        </span>
        </div>
        <p class="pull-left"><span class="sprite sprite-creativecommons"></span>Algunos derechos reservados 2014</p>
        <ul class="pull-right s-social">
            <li>
                <a><span class="sprite sprite-twitter"></a>
            </li>
            <li>
                <a><span class="sprite sprite-facebook"></a>
            </li>
            <li>
                <a><span class="sprite sprite-google"></a>
            </li>
        </ul>
    </div>
</div>