<div data-ng-controller="HeaderController">

    <div class="s-logged" data-ng-if="authentication.user">
        <div class="dropdown ">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="sprite sprite-settings">
                    </span>
            </a>
            <ul class="dropdown-menu">
                <li><a>{{authentication.user.displayName}}</a></li>
                <li>
                    <a href="/#!/profile">Editar perfil</a>
                </li>
                <li>
                    <a href="/#!/settings/accounts">Agregar cuentas sociales</a>
                </li>
                <li data-ng-if="authentication.user.provider === 'local'">
                    <a href="/#!/settings/password">Cambiar contraseña</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/auth/signout">Salir</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="s-header">
        <div class="s-border-header">


            <div class="s-search-header" data-ng-if="headerType=='search'">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-4 ">
                            <h1 >
                                <a href="/#!/"><span class="sprite sprite-isotipo-sm"></span>
                                    Sinergia
                                </a>
                            </h1>
                        </div>

                        <form class="col-md-9 col-lg-10 col-sm-8  s-search" role="search" >
                            <div class="form-group  s-search-group">
                                <div class="input-group s-search-wrapp">
                                    <input type="text" class="form-control" placeholder ="Buscar ...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <a href="#!/paint" class="btn btn-action pull-right">
                                <span class="sprite sprite-paint"></span> Nuevo dibujo
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="s-brand-header"  data-ng-if="headerType=='brand'">
            <h1><a href="/#!/" class="navbar-brand"><span class="sprite sprite-isotipo"></span>Sinergia</a></h1>

            <ul class="nav navbar-nav hidden" data-ng-if="menu.shouldRender(authentication.user);" >
                <li data-ng-repeat="item in menu.items" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
                    <a ng-switch-when="dropdown" class="dropdown-toggle">
                        <span data-ng-bind="item.title"></span>
                        <b class="caret"></b>
                    </a>
                    <ul ng-switch-when="dropdown" class="dropdown-menu">
                        <li data-ng-repeat="subitem in item.items" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
                            <a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
                        </li>
                    </ul>
                    <a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right s-tologg" data-ng-hide="authentication.user">
                <li ui-route="/signin" ng-class="{active: $uiRoute}">
                    <a href="/#!/signin">Ingresa</a>
                </li>
                <li ui-route="/signup" ng-class="{active: $uiRoute}">
                    <a href="/#!/signup">Registrate</a>
                </li>

            </ul>
        </div>
    </div>
</div>
</div>