<section data-ng-controller="HomeController" class="s-landing-wrapp">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 s-main-bajada">
                <h1>Dibujemos juntos
                    Creemos juntos. </h1>
                <p>Sinergia es una plataforma de creaciones colaborativas
                    Dibujá, pintá y crea con artistas de todo el mundo. </p>
            </div>
            <div class="col-md-7 col-sm-7 s-main-img">
                <img src="modules/core/img/slider1.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="s-calltoacion">
                <span class="s-btn-border">
                    <a href="/#!/signup" class="s-btn btn s-register">Crea ahora</a>
                </span>
                </div>
                <p class="s-text-calltoacion">Registrate para empezar a dibujar ahora</p>
            </div>
        </div>
    </div>
    <div class="s-description-wrapp">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Dale riendas sueltas a la creatividad</h1>
                    <p>Sinergia es una aplicación de dibujo y pintura digital social. Una herramienta de ilustración digital en la nube diseñada para crear y compartir.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="row s-features">
            <li class="col-md-4 col-sm-4">
                <section class="s-feature-1">
                    <div class="s-img"></div>
                    <h1>Lore impsum</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac nulla eget erat congue aliquam vitae a lectus. In ante erat, rutrum vitae ullamcorper vitae, ornare eu augue.</p>
                </section>
            </li>
            <li class="col-md-4 col-sm-4">
                <section class="s-feature-2">
                    <div class="s-img"></div>
                    <h1>Lore impsum</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac nulla eget erat congue aliquam vitae a lectus. In ante erat, rutrum vitae ullamcorper vitae, ornare eu augue.</p>
                </section>
            </li>
            <li class="col-md-4 col-sm-4">
                <section class="s-feature-3">
                    <div class="s-img"></div>
                    <h1>Lore impsum</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac nulla eget erat congue aliquam vitae a lectus. In ante erat, rutrum vitae ullamcorper vitae, ornare eu augue.</p>
                </section>
            </li>
        </ul>
        <div class="row">
            <div class="col-md-12">
                <div class="s-calltoacion">
                <span class="s-btn-border">
                    <a href="/#!/signup" class="s-btn btn s-register">Crea ahora</a>
                </span>
                </div>
                <p class="s-text-calltoacion">Registrate para empezar a dibujar ahora</p>
            </div>
        </div>
    </div>
</section>

