<aside id="notification" class="s-uploader-wrapp" data-ng-controller="NotificationController" data-ng-class="{'no-loading': uploading.ocultar, 'hide-loader': uploading.status, 'autoclose' : uploading.status == 'success' }">
    <div class="s-uploader" data-ng-if="uploading.is"></div>
    <div class="s-upload-message "  data-autoclose="true" data-ng-if="uploading.status"  data-ng-click="close()" data-ng-class="{'mostrar': !uploading.is && uploading.status, 'error':uploading.status=='err', 'success':uploading.status=='success' }"  >
        <div class="s-message-wrapp">
            <span class="s-msg-err">Hubo un error</span>
            <span  class="s-msg-succ">Obra guardada</span>
            <span class="glyphicon glyphicon-chevron-left"></span>
        </div>
    </div>
</aside>