/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 170, sprite/*.png */
.sprite-sprite, .sprite-creativecommons, .sprite-facebook, .sprite-fb1, .s-landing-footer .s-footer-border:after, .sprite-fb2, .s-landing-footer .s-footer-border:before, .sprite-fc, .sprite-fullview, .sprite-google, .sprite-hf1, .s-header .s-border-header:after, .sprite-hf2, .s-header .s-border-header:before, .sprite-isotipo-sm, .sprite-isotipo, .sprite-miobra, .sprite-more, .sprite-nav, .sprite-paint, .sprite-settings, .sprite-twitter {
  background: url('../img/sprite-s16d6d41459.png') no-repeat;
}

/* line 60, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-creativecommons {
  background-position: 0 -73px;
  height: 39px;
  width: 39px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-facebook {
  background-position: 0 -531px;
  height: 39px;
  width: 39px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-fb1, .s-landing-footer .s-footer-border:after {
  background-position: 0 -112px;
  height: 71px;
  width: 70px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-fb2, .s-landing-footer .s-footer-border:before {
  background-position: 0 -325px;
  height: 71px;
  width: 70px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-fc {
  background-position: 0 0;
  height: 73px;
  width: 73px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-fullview {
  background-position: 0 -631px;
  height: 15px;
  width: 13px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-google {
  background-position: 0 -396px;
  height: 39px;
  width: 39px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-hf1, .s-header .s-border-header:after {
  background-position: 0 -183px;
  height: 71px;
  width: 70px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-hf2, .s-header .s-border-header:before {
  background-position: 0 -254px;
  height: 71px;
  width: 70px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-isotipo-sm {
  background-position: 0 -506px;
  height: 25px;
  width: 25px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-isotipo {
  background-position: 0 -435px;
  height: 32px;
  width: 32px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-miobra {
  background-position: 0 -603px;
  height: 12px;
  width: 19px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-more {
  background-position: 0 -570px;
  height: 15px;
  width: 21px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-nav {
  background-position: 0 -646px;
  height: 13px;
  width: 17px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-paint {
  background-position: 0 -615px;
  height: 16px;
  width: 14px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-settings {
  background-position: 0 -585px;
  height: 18px;
  width: 18px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-twitter {
  background-position: 0 -467px;
  height: 39px;
  width: 39px;
}

/* line 50, landing/*.png */
.landing-sprite, .landing-db1, .s-description-wrapp:after, .landing-db2, .s-description-wrapp:before {
  background: url('../img/landing-sb20f047cea.png') no-repeat;
}

/* line 60, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.landing-db1, .s-description-wrapp:after {
  background-position: 0 0;
  height: 71px;
  width: 70px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.landing-db2, .s-description-wrapp:before {
  background-position: 0 -71px;
  height: 71px;
  width: 70px;
}

/* line 10, ../sass/partials/_sprite.scss */
.sprite {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto Light";
  src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto Slab";
  src: url('../fonts/Roboto-Slab/RobotoSlab-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto Slab Light";
  src: url('../fonts/Roboto-Slab/RobotoSlab-Light.ttf') format('truetype');
}

/* line 3, ../sass/modules/_landing.scss */
.s-main-bajada h1 {
  margin-top: 60px;
  font-style: italic;
  font-size: 36.5px;
  letter-spacing: -1.2px;
  white-space: pre-line;
  font-family: "Roboto Slab", serif;
  margin-bottom: 10px;
}
/* line 12, ../sass/modules/_landing.scss */
.s-main-bajada p {
  font-size: 16px;
  white-space: pre-line;
  font-family: "Roboto", serif;
  line-height: 20px;
}

/* line 20, ../sass/modules/_landing.scss */
.s-main-img img {
  width: 100%;
}

/* line 24, ../sass/modules/_landing.scss */
.s-calltoacion {
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}
/* line 30, ../sass/modules/_landing.scss */
.s-calltoacion:after, .s-calltoacion:before {
  position: absolute;
  content: " ";
  display: block;
  width: 100%;
  top: 50%;
  left: 0px;
  border-top: 1px solid #ffcc00;
}
/* line 39, ../sass/modules/_landing.scss */
.s-calltoacion:before {
  margin-top: 3px;
  border-top: 1px solid #e6e6e6;
}
/* line 43, ../sass/modules/_landing.scss */
.s-calltoacion .s-btn-border {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: white;
  padding: 0px 8%;
  position: relative;
  z-index: 2;
}
/* line 49, ../sass/modules/_landing.scss */
.s-calltoacion .s-btn-border .s-register {
  font-size: 21px;
  font-family: "Roboto Slab Light", serif;
  letter-spacing: -1.5px;
  padding: 5px 30px;
}

/* line 57, ../sass/modules/_landing.scss */
.s-text-calltoacion {
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}

/* line 63, ../sass/modules/_landing.scss */
.s-description-wrapp {
  background: rgba(230, 230, 230, 0.7);
  padding: 20px 0px;
  position: relative;
  -webkit-box-shadow: inset 0px 5px 0px 0px rgba(230, 230, 230, 0.7), inset 0px 6px 0px 0px white;
  -moz-box-shadow: inset 0px 5px 0px 0px rgba(230, 230, 230, 0.7), inset 0px 6px 0px 0px white;
  box-shadow: inset 0px 5px 0px 0px rgba(230, 230, 230, 0.7), inset 0px 6px 0px 0px white;
  padding-bottom: 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 70, ../sass/modules/_landing.scss */
.s-description-wrapp:after {
  position: absolute;
  bottom: 10px;
  left: 10px;
  content: " ";
}
/* line 77, ../sass/modules/_landing.scss */
.s-description-wrapp:before {
  position: absolute;
  bottom: 10px;
  right: 10px;
  content: " ";
}
/* line 84, ../sass/modules/_landing.scss */
.s-description-wrapp h1 {
  text-align: center;
  font-size: 32px;
  font-family: "Roboto Slab", serif;
  margin: 10px 0px 10px 0px;
}
/* line 90, ../sass/modules/_landing.scss */
.s-description-wrapp p {
  font-family: "Roboto", serif;
  text-align: center;
  font-size: 14px;
}

/* line 96, ../sass/modules/_landing.scss */
.s-features {
  margin-top: -50px;
  margin-bottom: 40px;
}
/* line 99, ../sass/modules/_landing.scss */
.s-features h1 {
  font-family: "Roboto Slab";
  text-align: center;
  font-size: 25px;
  margin: 10px 0px;
}
/* line 105, ../sass/modules/_landing.scss */
.s-features p {
  color: #676767;
  font-size: 14px;
  font-family: "Roboto", serif;
  line-height: 18px;
}
/* line 111, ../sass/modules/_landing.scss */
.s-features .s-img {
  width: 220px;
  height: 220px;
  margin: 0px auto;
  background: #e6e6e6;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 15px solid white;
}
/* line 121, ../sass/modules/_landing.scss */
.s-features .s-feature-1 .s-img {
  background: #ff6600;
}
/* line 126, ../sass/modules/_landing.scss */
.s-features .s-feature-2 .s-img {
  background: #5fbcd3;
}
/* line 131, ../sass/modules/_landing.scss */
.s-features .s-feature-3 .s-img {
  background: #ffcc00;
}

/* line 1, ../sass/modules/_header.scss */
.s-logged {
  position: absolute;
  top: 15px;
  right: 5px;
}
/* line 6, ../sass/modules/_header.scss */
.s-logged .dropdown a {
  background: none;
}
/* line 9, ../sass/modules/_header.scss */
.s-logged .dropdown .dropdown-menu {
  margin-left: -190px;
}

/* line 15, ../sass/modules/_header.scss */
.s-header {
  margin: 11px 50px 0px 50px;
  border-top: 1px solid #ffcc00;
  padding-top: 2px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 21, ../sass/modules/_header.scss */
.s-header .s-border-header {
  border-top: 1px solid #e6e6e6;
  margin: 0px 5px;
  position: relative;
}
/* line 25, ../sass/modules/_header.scss */
.s-header .s-border-header:after {
  position: absolute;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  content: " ";
  top: 4px;
  left: -45px;
}
/* line 33, ../sass/modules/_header.scss */
.s-header .s-border-header:before {
  position: absolute;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  content: " ";
  top: 4px;
  right: -45px;
}
/* line 45, ../sass/modules/_header.scss */
.s-header .s-search-header h1 {
  margin-top: 30px;
  text-align: center;
}
/* line 48, ../sass/modules/_header.scss */
.s-header .s-search-header h1 a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-decoration: none;
  font-size: "Roboto Slab Light", serif;
  color: black;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: -1px;
}
/* line 56, ../sass/modules/_header.scss */
.s-header .s-search-header h1 a .sprite {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=-0, M21=0, M22=1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=-0, M21=0, M22=1)";
  zoom: 1;
  margin-right: 4px;
  position: relative;
  top: -2px;
}
/* line 66, ../sass/modules/_header.scss */
.s-header .s-search-header h1:hover .sprite {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-duration: 5s;
  -moz-transition-duration: 5s;
  -o-transition-duration: 5s;
  transition-duration: 5s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=-0.28369, M12=-0.95892, M21=0.95892, M22=-0.28369);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=-0.28369, M12=-0.95892, M21=0.95892, M22=-0.28369)";
  zoom: 1;
}
/* line 73, ../sass/modules/_header.scss */
.s-header .s-search-header .s-search {
  margin-top: 25px;
}
/* line 75, ../sass/modules/_header.scss */
.s-header .s-search-header .s-search .s-search-group {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 100%;
  max-width: 300px;
}
/* line 80, ../sass/modules/_header.scss */
.s-header .s-search-header .s-search .s-search-wrapp {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 3px #e6e6e6, 0px 0px 0px 5px white;
  -moz-box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 3px #e6e6e6, 0px 0px 0px 5px white;
  box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 3px #e6e6e6, 0px 0px 0px 5px white;
  border: 1px solid #ffcc00;
  padding: 1px;
}
/* line 86, ../sass/modules/_header.scss */
.s-header .s-search-header .s-search input {
  -webkit-box-shadow: 0px 0px 0px transparent;
  -moz-box-shadow: 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px;
  height: 30px;
  border-right: 1px solid #e6e6e6;
  outline: 0 !important;
}
/* line 93, ../sass/modules/_header.scss */
.s-header .s-search-header .s-search input:focus {
  -webkit-box-shadow: inset 0px 0px 3px #ffe680;
  -moz-box-shadow: inset 0px 0px 3px #ffe680;
  box-shadow: inset 0px 0px 3px #ffe680;
}
/* line 97, ../sass/modules/_header.scss */
.s-header .s-search-header .s-search button {
  height: 30px;
  margin-left: 1px;
  background: none;
  -webkit-box-shadow: 0px 0px 0px transparent;
  -moz-box-shadow: 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  outline: 0 !important;
  color: #aa8800;
}
/* line 108, ../sass/modules/_header.scss */
.s-header .s-search-header .s-search button:active {
  background: none;
  -webkit-box-shadow: inset 0px 5px 5px #e6e6e6, 0px -1px 0px #e6e6e6;
  -moz-box-shadow: inset 0px 5px 5px #e6e6e6, 0px -1px 0px #e6e6e6;
  box-shadow: inset 0px 5px 5px #e6e6e6, 0px -1px 0px #e6e6e6;
}
/* line 118, ../sass/modules/_header.scss */
.s-header .s-brand-header h1 {
  position: absolute;
  width: 100%;
  margin-top: 8px;
}
/* line 122, ../sass/modules/_header.scss */
.s-header .s-brand-header h1 a {
  text-align: center;
  display: block;
  margin-left: 50%;
  width: 200px;
  position: relative;
  left: -100px;
  font-size: "Roboto Slab Light", serif;
  color: black;
  font-size: 29px;
  line-height: 29px;
}
/* line 133, ../sass/modules/_header.scss */
.s-header .s-brand-header h1 a .sprite {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=-0, M21=0, M22=1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=-0, M21=0, M22=1)";
  zoom: 1;
  margin-right: 10px;
  position: relative;
  top: -2px;
}
/* line 143, ../sass/modules/_header.scss */
.s-header .s-brand-header h1:hover .sprite {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-duration: 5s;
  -moz-transition-duration: 5s;
  -o-transition-duration: 5s;
  transition-duration: 5s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=-0.28369, M12=-0.95892, M21=0.95892, M22=-0.28369);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=-0.28369, M12=-0.95892, M21=0.95892, M22=-0.28369)";
  zoom: 1;
}
/* line 151, ../sass/modules/_header.scss */
.s-header .s-brand-header .s-tologg li {
  padding: 0px;
  background: none !important;
}
/* line 154, ../sass/modules/_header.scss */
.s-header .s-brand-header .s-tologg li a {
  padding-bottom: 0px;
  padding-top: 28px;
  color: #ff6600;
  font-family: "Roboto Slab", serif;
}
/* line 159, ../sass/modules/_header.scss */
.s-header .s-brand-header .s-tologg li a:hover, .s-header .s-brand-header .s-tologg li a:active, .s-header .s-brand-header .s-tologg li a:visited, .s-header .s-brand-header .s-tologg li a:focus {
  background: none;
}
/* line 162, ../sass/modules/_header.scss */
.s-header .s-brand-header .s-tologg li a:hover {
  color: #5fbcd3;
  text-decoration: underline;
}

/* line 1, ../sass/modules/_footer.scss */
.s-landing-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 40px;
  padding: 3px 50px 20px 50px;
}
/* line 10, ../sass/modules/_footer.scss */
.s-landing-footer .s-social li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 15, ../sass/modules/_footer.scss */
.s-landing-footer .s-footer-container {
  border-top: 1px solid #e6e6e6;
  padding-top: 1px;
}
/* line 19, ../sass/modules/_footer.scss */
.s-landing-footer .s-footer-border {
  border-top: 1px solid #ffcc00;
  padding-top: 10px;
  position: relative;
}
/* line 23, ../sass/modules/_footer.scss */
.s-landing-footer .s-footer-border .s-deco {
  background: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  top: -40.5px;
  left: 50%;
  margin-left: -42.5px;
}
/* line 31, ../sass/modules/_footer.scss */
.s-landing-footer .s-footer-border .s-deco:before {
  content: " ";
  display: block;
  width: 130%;
  height: 10px;
  position: absolute;
  background: white;
  top: 50%;
  margin-top: -15px;
  margin-left: -20%;
}
/* line 42, ../sass/modules/_footer.scss */
.s-landing-footer .s-footer-border .s-deco .sprite {
  position: relative;
  z-index: 1;
}
/* line 47, ../sass/modules/_footer.scss */
.s-landing-footer .s-footer-border:after, .s-landing-footer .s-footer-border:before {
  content: " ";
  display: block;
  top: -76px;
  position: absolute;
}
/* line 53, ../sass/modules/_footer.scss */
.s-landing-footer .s-footer-border:after {
  left: -40px;
}
/* line 57, ../sass/modules/_footer.scss */
.s-landing-footer .s-footer-border:before {
  right: -40px;
}
/* line 62, ../sass/modules/_footer.scss */
.s-landing-footer p {
  font-family: "Roboto", sans-serif;
}
/* line 64, ../sass/modules/_footer.scss */
.s-landing-footer p .sprite {
  margin-right: 10px;
}

/* line 5, ../sass/modules/_obra.scss */
.s-mini .s-obra .s-obra-text {
  width: 100%;
}
/* line 7, ../sass/modules/_obra.scss */
.s-mini .s-obra .s-obra-text p {
  display: none;
}
/* line 11, ../sass/modules/_obra.scss */
.s-mini .s-obra .s-users {
  display: none;
}
/* line 17, ../sass/modules/_obra.scss */
.s-mini .s-obra .s-obra-container .s-obra-content .s-obra-text h2 {
  margin-bottom: 3px;
}
/* line 21, ../sass/modules/_obra.scss */
.s-mini .s-obra .s-obra-container .s-obra-content .s-obra-actions {
  width: 100%;
}
/* line 24, ../sass/modules/_obra.scss */
.s-mini .s-obra .s-obra-container .s-obra-content .s-obra-actions-wrapp {
  display: none;
  border-top: 1px solid #e6e6e6;
  padding-top: 5px;
  text-align: left;
}
/* line 30, ../sass/modules/_obra.scss */
.s-mini .s-obra .s-obra-container .s-obra-content .s-obra-actions-wrapp .btn-action {
  margin-top: 13px;
}
/* line 34, ../sass/modules/_obra.scss */
.s-mini .s-obra .s-obra-container .s-obra-content .s-obra-actions-wrapp .s-obra-s .s-view-wrappers {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 37, ../sass/modules/_obra.scss */
.s-mini .s-obra .s-obra-container .s-obra-content .s-obra-actions-wrapp .s-obra-s .s-comments {
  float: left;
  margin-top: 22px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 49, ../sass/modules/_obra.scss */
.s-obra {
  border: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px;
  margin-bottom: 20px;
}
/* line 55, ../sass/modules/_obra.scss */
.s-obra .s-obra-container {
  border: 1px solid #e6e6e6;
  padding: 18px;
}
/* line 58, ../sass/modules/_obra.scss */
.s-obra .s-obra-container img {
  width: 100%;
}
/* line 61, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content {
  border-top: 1px solid #e6e6e6;
  padding-top: 20px;
  position: relative;
  margin-top: 10px;
}
/* line 66, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content:before {
  content: " ";
  display: block;
  width: 100%;
  position: absolute;
  top: 2px;
  left: 0px;
  border-top: 1px solid #e6e6e6;
}
/* line 75, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content .s-obra-actions-wrapp {
  text-align: right;
}
/* line 77, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content .s-obra-actions-wrapp .btn-action {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: bottom;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-top: 50px;
  margin-right: 10px;
}
/* line 82, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content .s-obra-actions-wrapp .s-obra-s {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  float: right;
}
/* line 85, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content .s-obra-actions-wrapp .s-obra-s .s-comments {
  cursor: pointer;
  margin-top: 15px;
  position: relative;
  padding-right: 30px;
  text-align: right;
  font-family: "Roboto  Bold", sans-serif;
  color: black;
}
/* line 93, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content .s-obra-actions-wrapp .s-obra-s .s-comments span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  color: black;
  font-size: 25px;
  line-height: 25px;
  position: absolute;
  top: -2px;
  right: 0px;
}
/* line 104, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content .s-obra-actions-wrapp .s-obra-s .s-view-wrappers h5 {
  text-align: right;
  font-size: 15px;
}
/* line 108, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content .s-obra-actions-wrapp .s-obra-s .s-view-wrappers strong {
  display: block;
  text-align: right;
  color: #4d4d4d;
  font-size: 28px;
  line-height: 28px;
  text-align: right;
  letter-spacing: -0.5spx;
}
/* line 121, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content .s-obra-author .s-users {
  padding: 0px 00px;
  text-align: center;
}
/* line 124, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content .s-obra-author .s-users > .s-users-wrapp {
  border: 0px solid transparent;
  overflow: hidden;
  margin-left: 10px;
  margin-top: 5px;
  height: 70px;
  width: 70px;
  background: #ff6600;
  padding: 0px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 135, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content .s-obra-author .s-users > .s-users-wrapp img {
  height: 100%;
}
/* line 138, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content .s-obra-author .s-users > .s-users-wrapp .glyphicon {
  color: white;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 100%;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
}
/* line 149, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content .s-obra-text {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 152, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content .s-obra-text h1 {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 5px;
}
/* line 155, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content .s-obra-text h1 a {
  color: black;
  font-family: "Roboto Slab", sans-serif;
  font-size: 20px;
}
/* line 159, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content .s-obra-text h1 a:hover {
  text-decoration: none;
  color: #ff6600;
}
/* line 165, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content .s-obra-text .s-stars {
  display: inline;
}
/* line 167, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content .s-obra-text .s-stars li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 169, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content .s-obra-text .s-stars li .glyphicon-star {
  display: none;
}
/* line 173, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content .s-obra-text .s-stars li.active .glyphicon-star-empty {
  display: none;
}
/* line 176, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content .s-obra-text .s-stars li.active .glyphicon-star {
  display: inline;
}
/* line 183, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content .s-obra-text h2 a {
  color: #ff6600;
}
/* line 185, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content .s-obra-text h2 a:hover {
  text-decoration: none;
  color: black;
}
/* line 191, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content .s-obra-text p {
  font-size: 15px;
  line-height: 18px;
  margin-top: 8px;
  max-height: 36px;
  overflow: hidden;
}
/* line 197, ../sass/modules/_obra.scss */
.s-obra .s-obra-container .s-obra-content .s-obra-text p.s-no-description {
  color: #a6a6a6;
  font-style: italic;
}

/* line 2, ../sass/modules/_atelier.scss */
.s-atelier-wrapp .s-load-more {
  margin-top: 20px;
  text-align: center;
}
/* line 6, ../sass/modules/_atelier.scss */
.s-atelier-wrapp .s-load-more .btn {
  min-height: 50px;
  width: 100%;
}
/* line 10, ../sass/modules/_atelier.scss */
.s-atelier-wrapp .s-load-more + .s-loading {
  position: absolute;
  left: 50%;
  width: 150px;
  margin-left: -70px;
}
/* line 17, ../sass/modules/_atelier.scss */
.s-atelier-wrapp .s-nav-wrapp {
  padding: 0px 10px;
  position: relative;
}
/* line 20, ../sass/modules/_atelier.scss */
.s-atelier-wrapp .s-nav-wrapp:after {
  content: " ";
  display: block;
  height: 130%;
  width: 1px;
  position: absolute;
  display: block;
  right: 0px;
  top: -10px;
  border-right: 1px solid #e6e6e6;
}
/* line 31, ../sass/modules/_atelier.scss */
.s-atelier-wrapp .s-nav-wrapp .s-avatar {
  min-height: 50px;
  margin-bottom: 20px;
}
/* line 34, ../sass/modules/_atelier.scss */
.s-atelier-wrapp .s-nav-wrapp .s-avatar .s-avatar-wrapp {
  overflow: hidden;
}
/* line 36, ../sass/modules/_atelier.scss */
.s-atelier-wrapp .s-nav-wrapp .s-avatar .s-avatar-wrapp img {
  height: 100%;
}
/* line 40, ../sass/modules/_atelier.scss */
.s-atelier-wrapp .s-nav-wrapp .s-avatar .s-avatar-wrapp .glyphicon {
  font-size: 25px;
  color: white;
  line-height: 50px;
  padding-left: 12.5px;
}
/* line 47, ../sass/modules/_atelier.scss */
.s-atelier-wrapp .s-nav-wrapp .s-avatar a {
  display: block;
  padding-left: 60px;
  position: relative;
  color: black;
}
/* line 52, ../sass/modules/_atelier.scss */
.s-atelier-wrapp .s-nav-wrapp .s-avatar a:hover, .s-atelier-wrapp .s-nav-wrapp .s-avatar a:active {
  text-decoration: none;
  color: #d45500;
}
/* line 56, ../sass/modules/_atelier.scss */
.s-atelier-wrapp .s-nav-wrapp .s-avatar a:focus {
  text-decoration: none;
}
/* line 59, ../sass/modules/_atelier.scss */
.s-atelier-wrapp .s-nav-wrapp .s-avatar a .s-avatar-wrapp {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  background: #ff6600;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 68, ../sass/modules/_atelier.scss */
.s-atelier-wrapp .s-nav-wrapp .s-avatar a .s-avatar-text {
  padding-top: 15px;
}
/* line 70, ../sass/modules/_atelier.scss */
.s-atelier-wrapp .s-nav-wrapp .s-avatar a .s-avatar-text h1 {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 76, ../sass/modules/_atelier.scss */
.s-atelier-wrapp .s-nav-wrapp .s-avatar a .s-avatar-text h2 {
  font-family: "Roboto Light", sans-serif;
  font-size: 14px;
  color: #4d4d4d;
}
/* line 87, ../sass/modules/_atelier.scss */
.s-atelier-wrapp .s-atelier-content .s-featuring {
  background: #e6e6e6;
  min-height: 200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 30px;
  margin-bottom: 20px;
  position: relative;
}
/* line 94, ../sass/modules/_atelier.scss */
.s-atelier-wrapp .s-atelier-content .s-featuring h4 {
  position: absolute;
  bottom: 15px;
  left: 15px;
  letter-spacing: -1px;
  text-align: left;
  font-family: "Roboto Slab Light", sans-serif;
  font-size: 30px;
  color: #8d8d8d;
}

/* line 108, ../sass/modules/_atelier.scss */
.s-oeuvre {
  float: none;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 114, ../sass/modules/_atelier.scss */
.s-obras-lista li {
  margin-bottom: 8px;
}
/* line 117, ../sass/modules/_atelier.scss */
.s-obras-lista .s-miobra {
  padding-left: 18px;
}
/* line 119, ../sass/modules/_atelier.scss */
.s-obras-lista .s-miobra a {
  font-family: "Roboto Slab", serif;
  color: #4d4d4d;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}
/* line 126, ../sass/modules/_atelier.scss */
.s-obras-lista .s-miobra a:hover, .s-obras-lista .s-miobra a:active, .s-obras-lista .s-miobra a:focus {
  text-decoration: none;
}
/* line 129, ../sass/modules/_atelier.scss */
.s-obras-lista .s-miobra a:hover {
  color: #ff6600;
}
/* line 132, ../sass/modules/_atelier.scss */
.s-obras-lista .s-miobra a .sprite {
  margin-right: 5px;
  position: relative;
  top: -2px;
}
/* line 139, ../sass/modules/_atelier.scss */
.s-obras-lista .s-all-obras {
  padding-left: 18px;
  margin-top: 12px;
}
/* line 142, ../sass/modules/_atelier.scss */
.s-obras-lista .s-all-obras a {
  font-family: "Roboto Slab", serif;
  color: #4d4d4d;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}
/* line 149, ../sass/modules/_atelier.scss */
.s-obras-lista .s-all-obras a:hover, .s-obras-lista .s-all-obras a:active, .s-obras-lista .s-all-obras a:focus {
  text-decoration: none;
}
/* line 152, ../sass/modules/_atelier.scss */
.s-obras-lista .s-all-obras a:hover {
  color: #ff6600;
}
/* line 155, ../sass/modules/_atelier.scss */
.s-obras-lista .s-all-obras a span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0px 8px;
  color: black;
}
/* line 162, ../sass/modules/_atelier.scss */
.s-obras-lista .s-new-obra {
  padding: 0px;
  margin-top: 20px;
}
/* line 165, ../sass/modules/_atelier.scss */
.s-obras-lista .s-new-obra a {
  display: block;
  font-size: 14px;
  padding: 2px 0px;
}

/* line 174, ../sass/modules/_atelier.scss */
.s-mis-obras h5 {
  position: relative;
  border-top: 1px solid #e6e6e6;
  margin-bottom: 10px;
}
/* line 179, ../sass/modules/_atelier.scss */
.s-mis-obras h5:before {
  position: absolute;
  left: 0px;
  top: 5px;
  content: " ";
  display: block;
  width: 100%;
  z-index: 0;
  border-top: 1px solid #e6e6e6;
}
/* line 189, ../sass/modules/_atelier.scss */
.s-mis-obras h5 span {
  position: relative;
  top: -8px;
  left: 15px;
  z-index: 1px;
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  color: #9a9a9a;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0px 5px;
  background: white;
}

/* line 203, ../sass/modules/_atelier.scss */
.s-obras-nav {
  border-bottom: 1px solid #ffcc00;
  position: relative;
  margin-bottom: 25px;
  clear: both;
}
/* line 208, ../sass/modules/_atelier.scss */
.s-obras-nav:before {
  position: absolute;
  content: " ";
  width: 100%;
  display: block;
  bottom: -4px;
  left: 0px;
  border-bottom: 1px solid #e6e6e6;
}
/* line 218, ../sass/modules/_atelier.scss */
.s-obras-nav .s-display-obra a {
  cursor: pointer;
  color: black;
  width: 25px;
  height: 25px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px 5px;
}
/* line 228, ../sass/modules/_atelier.scss */
.s-obras-nav .s-display-obra a.active {
  border: 1px solid #ffcc00;
}
/* line 233, ../sass/modules/_atelier.scss */
.s-obras-nav .s-filter-obra {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 15px;
}
/* line 236, ../sass/modules/_atelier.scss */
.s-obras-nav .s-filter-obra a {
  padding: 0px 14px;
  display: block;
  padding-bottom: 10px;
  color: #4d4d4d;
  font-family: "Roboto Slab", sans-serif;
  cursor: pointer;
  -webkit-transition-property: box-shadow;
  -moz-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-box-shadow: inset 0px 0px 0px #ffcc00;
  -moz-box-shadow: inset 0px 0px 0px #ffcc00;
  box-shadow: inset 0px 0px 0px #ffcc00;
}
/* line 247, ../sass/modules/_atelier.scss */
.s-obras-nav .s-filter-obra a:hover, .s-obras-nav .s-filter-obra a:active, .s-obras-nav .s-filter-obra a:focus, .s-obras-nav .s-filter-obra a:visited {
  text-decoration: none;
  color: #4d4d4d;
}
/* line 251, ../sass/modules/_atelier.scss */
.s-obras-nav .s-filter-obra a:hover {
  color: #ff6600;
}
/* line 256, ../sass/modules/_atelier.scss */
.s-obras-nav .s-filter-obra.active a {
  -webkit-transition-property: box-shadow;
  -moz-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-box-shadow: inset 0px -4px 0px #ffcc00;
  -moz-box-shadow: inset 0px -4px 0px #ffcc00;
  box-shadow: inset 0px -4px 0px #ffcc00;
}

/* line 2, ../sass/modules/_profile.scss */
.s-profile .s-profile-mainimg {
  margin-bottom: 20px;
}
/* line 5, ../sass/modules/_profile.scss */
.s-profile .s-profile-mainimg .s-image-wrapp {
  min-height: 250px;
  background-color: #e6e6e6;
  border: 1px solid #cdcdcd;
  margin-bottom: 10px;
}
/* line 12, ../sass/modules/_profile.scss */
.s-profile .s-profile-mainimg .s-avatar-wrapp {
  margin-left: 15px;
  margin-top: -40px;
  height: 110px;
  width: 110px;
  margin-right: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: #ff6600;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  overflow: hidden;
}
/* line 23, ../sass/modules/_profile.scss */
.s-profile .s-profile-mainimg .s-avatar-wrapp img {
  height: 100%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 28, ../sass/modules/_profile.scss */
.s-profile .s-profile-mainimg .s-avatar-wrapp .glyphicon {
  color: white;
  font-size: 50px;
  width: 100%;
  text-align: center;
  line-height: 110px;
}
/* line 36, ../sass/modules/_profile.scss */
.s-profile .s-profile-mainimg .s-user-text {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 38, ../sass/modules/_profile.scss */
.s-profile .s-profile-mainimg .s-user-text h1 {
  font-family: "Roboto Slab" , serif;
  font-size: 19px;
  margin-bottom: 5px;
}
/* line 43, ../sass/modules/_profile.scss */
.s-profile .s-profile-mainimg .s-user-text p {
  font-size: 15px;
  font-family: "Roboto Light", sans-serif;
}
/* line 50, ../sass/modules/_profile.scss */
.s-profile .s-fast-obra h5 {
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  margin-bottom: 25px;
  padding-bottom: 10px;
  line-height: 16px;
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  color: gray;
}
/* line 60, ../sass/modules/_profile.scss */
.s-profile .s-fast-obra h5:before {
  position: absolute;
  content: " ";
  width: 100%;
  display: block;
  bottom: -4px;
  left: 0px;
  border-bottom: 1px solid #e6e6e6;
}
/* line 71, ../sass/modules/_profile.scss */
.s-profile .s-fast-obra .s-obras-lista li {
  padding-left: 0px;
}

/* line 2, ../sass/modules/_loader.scss */
.s-uploader-wrapp {
  position: fixed;
  bottom: 25px;
  left: 20px;
  z-index: 10;
}
/* line 7, ../sass/modules/_loader.scss */
.s-uploader-wrapp .s-upload-message {
  cursor: pointer;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-left: 5px;
  padding: 2px 0px;
}
/* line 13, ../sass/modules/_loader.scss */
.s-uploader-wrapp .s-upload-message .s-message-wrapp {
  background-color: rgba(255, 255, 255, 0.9);
  visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-box-shadow: 0px 6px 5px -8px #4d4d4d;
  -moz-box-shadow: 0px 6px 5px -8px #4d4d4d;
  box-shadow: 0px 6px 5px -8px #4d4d4d;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 0px 5px 0px 40px;
  line-height: 35px;
  font-family: "Roboto Light", sans-serif;
  font-size: 14px;
  position: relative;
}
/* line 25, ../sass/modules/_loader.scss */
.s-uploader-wrapp .s-upload-message .s-message-wrapp:before {
  position: absolute;
  content: " ";
  display: block;
  width: 21px;
  height: 21px;
  background: #e6e6e6;
  left: 10px;
  top: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 36, ../sass/modules/_loader.scss */
.s-uploader-wrapp .s-upload-message .s-message-wrapp .glyphicon {
  margin-left: 3px;
  font-size: 10px;
  line-height: 35px;
}
/* line 44, ../sass/modules/_loader.scss */
.s-uploader-wrapp .s-upload-message.mostrar .s-message-wrapp {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-property: -webkit-transform, visibility;
  -moz-transition-property: -moz-transform, visibility;
  -o-transition-property: -o-transform, visibility;
  transition-property: transform visibility;
}
/* line 51, ../sass/modules/_loader.scss */
.s-uploader-wrapp .s-upload-message .s-msg-succ, .s-uploader-wrapp .s-upload-message .s-msg-err {
  display: none;
}
/* line 56, ../sass/modules/_loader.scss */
.s-uploader-wrapp .s-upload-message.success .s-msg-succ {
  display: inline;
}
/* line 59, ../sass/modules/_loader.scss */
.s-uploader-wrapp .s-upload-message.success .s-message-wrapp {
  -webkit-box-shadow: 0px 6px 5px -8px #1ee21e;
  -moz-box-shadow: 0px 6px 5px -8px #1ee21e;
  box-shadow: 0px 6px 5px -8px #1ee21e;
  border-color: #81ff81;
  color: #008e00;
}
/* line 63, ../sass/modules/_loader.scss */
.s-uploader-wrapp .s-upload-message.success .s-message-wrapp .glyphicon {
  color: #81ff81;
}
/* line 66, ../sass/modules/_loader.scss */
.s-uploader-wrapp .s-upload-message.success .s-message-wrapp:before {
  background: #81ff81;
}
/* line 74, ../sass/modules/_loader.scss */
.s-uploader-wrapp .s-upload-message.error .s-msg-err {
  display: inline;
}
/* line 77, ../sass/modules/_loader.scss */
.s-uploader-wrapp .s-upload-message.error .s-message-wrapp {
  -webkit-box-shadow: 0px 6px 5px -8px red;
  -moz-box-shadow: 0px 6px 5px -8px red;
  box-shadow: 0px 6px 5px -8px red;
  border-color: #ff9999;
  color: #990000;
}
/* line 81, ../sass/modules/_loader.scss */
.s-uploader-wrapp .s-upload-message.error .s-message-wrapp .glyphicon {
  color: #ff9999;
}
/* line 84, ../sass/modules/_loader.scss */
.s-uploader-wrapp .s-upload-message.error .s-message-wrapp:before {
  background: #ff9999;
}
/* line 92, ../sass/modules/_loader.scss */
.s-uploader-wrapp .s-uploader {
  width: 40px;
  height: 40px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}
/* line 101, ../sass/modules/_loader.scss */
.s-uploader-wrapp.hide-loader .s-uploader {
  display: none;
}
/* line 110, ../sass/modules/_loader.scss */
.s-uploader-wrapp.no-loading .s-upload-message {
  visibility: hidden;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-property: -webkit-transform, visibility;
  -moz-transition-property: -moz-transform, visibility;
  -o-transition-property: -o-transform, visibility;
  transition-property: transform visibility;
  -webkit-transform: translateX(-110%) scale(0.9);
  -moz-transform: translateX(-110%) scale(0.9);
  -ms-transform: translateX(-110%) scale(0.9);
  -o-transform: translateX(-110%) scale(0.9);
  transform: translateX(-110%) scale(0.9);
}

@-webkit-keyframes scaleout {
  /* line 120, ../sass/modules/_loader.scss */
  0% {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    background-color: #216778;
  }

  /* line 125, ../sass/modules/_loader.scss */
  50% {
    background-color: #ffcc00;
    display: none;
  }

  /* line 130, ../sass/modules/_loader.scss */
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    background-color: #1ee21e;
    display: none;
  }
}

@-moz-keyframes scaleout {
  /* line 120, ../sass/modules/_loader.scss */
  0% {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    background-color: #216778;
  }

  /* line 125, ../sass/modules/_loader.scss */
  50% {
    background-color: #ffcc00;
    display: none;
  }

  /* line 130, ../sass/modules/_loader.scss */
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    background-color: #1ee21e;
    display: none;
  }
}

@-o-keyframes scaleout {
  /* line 120, ../sass/modules/_loader.scss */
  0% {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    background-color: #216778;
  }

  /* line 125, ../sass/modules/_loader.scss */
  50% {
    background-color: #ffcc00;
    display: none;
  }

  /* line 130, ../sass/modules/_loader.scss */
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    background-color: #1ee21e;
    display: none;
  }
}

@keyframes scaleout {
  /* line 120, ../sass/modules/_loader.scss */
  0% {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    background-color: #216778;
  }

  /* line 125, ../sass/modules/_loader.scss */
  50% {
    background-color: #ffcc00;
    display: none;
  }

  /* line 130, ../sass/modules/_loader.scss */
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    background-color: #1ee21e;
    display: none;
  }
}

/* line 8, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-obra .s-obra-container .s-obra-content .s-obra-text {
  padding-top: 15px;
}
/* line 11, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-obra .s-obra-container .s-obra-content .s-obra-text h1 a {
  font-size: 24px;
}
/* line 13, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-obra .s-obra-container .s-obra-content .s-obra-text h1 a:hover {
  color: black;
}
/* line 19, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-obra .s-obra-container .s-obra-content .s-obra-text .s-edit-oeuvre {
  margin-top: 7px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  color: #5fbcd3;
  cursor: pointer;
}
/* line 24, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-obra .s-obra-container .s-obra-content .s-obra-text .s-edit-oeuvre:hover {
  text-decoration: none;
  color: #ff6600;
}
/* line 36, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-obra .s-obra-container .s-obra-actions .s-obra-actions-wrapp .s-view-wrappers {
  margin-top: 25px;
}
/* line 39, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-obra .s-obra-container .s-obra-actions .s-obra-actions-wrapp .btn-action {
  margin-top: 38px;
  margin-right: 27px;
}
/* line 48, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-comment {
  padding-left: 55px;
  position: relative;
}
/* line 49, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-comment + .s-comment {
  margin-top: 23px;
}
/* line 54, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-comment .s-comment-text {
  border-left: 1px solid #ffcc00;
  padding-left: 10px;
  padding-bottom: 4px;
  position: relative;
}
/* line 55, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-comment .s-comment-text h3 {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 57, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-comment .s-comment-text h3 a {
  color: black;
  font-family: "Roboto Slab", serif;
}
/* line 60, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-comment .s-comment-text h3 a:hover {
  color: #ff6600;
  text-decoration: none;
}
/* line 67, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-comment .s-comment-text time {
  float: right;
  font-size: 14px;
  color: #216778;
}
/* line 72, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-comment .s-comment-text p {
  margin-top: 8px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Roboto Light", serif;
}
/* line 83, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-comment .s-comment-text:before {
  content: " ";
  position: absolute;
  border-right: 8px solid #ffcc00;
  display: block;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  width: 0;
  height: 0;
  left: -8px;
  top: 5px;
}
/* line 96, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-comment .s-comment-text:after {
  content: " ";
  position: absolute;
  border-right: 8px solid white;
  display: block;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  width: 0;
  height: 0;
  left: -6px;
  top: 5px;
}
/* line 110, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-comment .s-avatar {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 37px;
  height: 37px;
  overflow: hidden;
  color: white;
  background: #ff6600;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 120, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-comment .s-avatar .glyphicon {
  line-height: 37px;
}
/* line 124, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-comment .s-avatar img {
  height: 100%;
}
/* line 129, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-obra-detail-wrapp {
  padding: 0px 55px;
}
/* line 131, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-obra-detail-wrapp h4 {
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  margin: 10px 0px 10px 0px;
  color: gray;
}
/* line 137, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-obra-detail-wrapp .s-description {
  padding: 0px;
  float: none;
  font-family: "Roboto Light", sans-serif;
  margin-bottom: 30px;
  font-size: 15px;
}
/* line 144, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-obra-detail-wrapp .s-no-comments {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  position: relative;
}
/* line 149, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-obra-detail-wrapp .s-no-comments span {
  position: relative;
  z-index: 1;
  background: white;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0px 20px;
}
/* line 156, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-obra-detail-wrapp .s-no-comments:before {
  content: " ";
  width: 100%;
  border-top: 1px solid #e6e6e6;
  display: block;
  position: absolute;
  top: 50%;
}
/* line 168, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-comment-action {
  margin-top: 35px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 50px;
  position: relative;
}
/* line 174, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-comment-action .s-avatar {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 37px;
  height: 37px;
  overflow: hidden;
  color: white;
  background: #ff6600;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 184, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-comment-action .s-avatar .glyphicon {
  line-height: 37px;
}
/* line 188, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-comment-action .s-avatar img {
  height: 100%;
}
/* line 192, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-comment-action .s-comment-group {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 100%;
}
/* line 196, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-comment-action .s-comment-wrapp {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 3px #e6e6e6, 0px 0px 0px 5px white;
  -moz-box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 3px #e6e6e6, 0px 0px 0px 5px white;
  box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 3px #e6e6e6, 0px 0px 0px 5px white;
  border: 1px solid #ffcc00;
  padding: 1px;
}
/* line 202, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-comment-action input {
  -webkit-box-shadow: 0px 0px 0px transparent;
  -moz-box-shadow: 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px;
  height: 30px;
  border-right: 1px solid #e6e6e6;
  outline: 0 !important;
  font-family: "Roboto", sans-serif;
}
/* line 209, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-comment-action input:focus {
  -webkit-box-shadow: inset 0px 0px 3px rgba(255, 230, 128, 0.5);
  -moz-box-shadow: inset 0px 0px 3px rgba(255, 230, 128, 0.5);
  box-shadow: inset 0px 0px 3px rgba(255, 230, 128, 0.5);
}
/* line 213, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-comment-action button {
  height: 30px;
  margin-left: 1px;
  background: none;
  font-family: "Roboto Slab", serif;
  -webkit-box-shadow: 0px 0px 0px transparent;
  -moz-box-shadow: 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  outline: 0 !important;
  color: #aa8800;
}
/* line 222, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-comment-action button .glyphicon {
  margin-right: 5px;
}
/* line 228, ../sass/modules/_obra-detail.scss */
.s-oeuvre-view .s-comment-action button:active {
  background: none;
  -webkit-box-shadow: inset 0px 5px 5px #e6e6e6, 0px -1px 0px #e6e6e6;
  -moz-box-shadow: inset 0px 5px 5px #e6e6e6, 0px -1px 0px #e6e6e6;
  box-shadow: inset 0px 5px 5px #e6e6e6, 0px -1px 0px #e6e6e6;
}

/* line 6, ../sass/modules/_login.scss */
.s-signup .btn-action {
  margin-top: 10px;
}
/* line 9, ../sass/modules/_login.scss */
.s-signup .s-social-login {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}
/* line 14, ../sass/modules/_login.scss */
.s-signup .s-signup-label {
  margin-bottom: 10px;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
}
/* line 19, ../sass/modules/_login.scss */
.s-signup .s-signup-text {
  font-family: "Roboto Slab Light", sans-serif;
  font-style: italic;
  font-size: 14px;
}
/* line 23, ../sass/modules/_login.scss */
.s-signup .s-signup-text.s-signup-social {
  margin-bottom: 8px;
}
/* line 26, ../sass/modules/_login.scss */
.s-signup .s-signup-text.s-signup-own {
  margin-bottom: 15px;
}

/* line 31, ../sass/modules/_login.scss */
.s-login-image-wrapp {
  text-align: center;
  position: relative;
}
/* line 36, ../sass/modules/_login.scss */
.s-login-image-wrapp .s-frase {
  text-align: right;
  position: absolute;
  width: 100%;
  bottom: 40px;
  padding: 20px 10px;
  padding-right: 60px;
  background: rgba(255, 255, 255, 0.9);
}
/* line 44, ../sass/modules/_login.scss */
.s-login-image-wrapp .s-frase strong {
  font-family: "Roboto Slab", serif;
  margin-top: 5px;
  font-size: 18px;
  font-style: italic;
  display: block;
}
/* line 52, ../sass/modules/_login.scss */
.s-login-image-wrapp img {
  max-width: 100%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 60, ../sass/modules/_login.scss */
.s-signin .s-input-container {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 3px #e6e6e6, 0px 0px 0px 5px white;
  -moz-box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 3px #e6e6e6, 0px 0px 0px 5px white;
  box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 3px #e6e6e6, 0px 0px 0px 5px white;
  border: 1px solid #ffcc00;
  padding: 1px;
}
/* line 65, ../sass/modules/_login.scss */
.s-signin .s-input-container .s-input-group {
  width: 100%;
}
/* line 68, ../sass/modules/_login.scss */
.s-signin .s-input-container input {
  -webkit-box-shadow: 0px 0px 0px transparent;
  -moz-box-shadow: 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px;
  height: 30px;
  border-left: 1px solid #e6e6e6;
  outline: 0 !important;
  font-family: "Roboto Slab", sans-serif;
  color: #4d4d4d;
}
/* line 30, ../sass/partials/_mixins.scss */
.s-signin .s-input-container input.placeholder {
  color: #b3b3b3;
}
/* line 31, ../sass/partials/_mixins.scss */
.s-signin .s-input-container input:-moz-placeholder {
  color: #b3b3b3;
}
/* line 32, ../sass/partials/_mixins.scss */
.s-signin .s-input-container input::-moz-placeholder {
  color: #b3b3b3;
}
/* line 33, ../sass/partials/_mixins.scss */
.s-signin .s-input-container input:-ms-input-placeholder {
  color: #b3b3b3;
}
/* line 34, ../sass/partials/_mixins.scss */
.s-signin .s-input-container input::-webkit-input-placeholder {
  color: #b3b3b3;
}
/* line 80, ../sass/modules/_login.scss */
.s-signin .s-input-container .input-group-addon {
  height: 30px;
  margin-left: 1px;
  background: none;
  -webkit-box-shadow: 0px 0px 0px transparent;
  -moz-box-shadow: 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  outline: 0 !important;
  color: #b3b3b3;
}
/* line 91, ../sass/modules/_login.scss */
.s-signin h3 {
  margin-bottom: 20px;
  font-size: 19.5px;
  font-family: "Roboto Slab Light", serif;
}
/* line 96, ../sass/modules/_login.scss */
.s-signin .form-group {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
/* line 101, ../sass/modules/_login.scss */
.s-signin fieldset {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 7px;
  margin-bottom: 17px;
}
/* line 108, ../sass/modules/_login.scss */
.s-signin .btn-social {
  width: 100%;
  margin: 5px 0px;
  position: relative;
  padding-left: 40px;
  background: #e6e6e6;
  border-color: transparent;
  color: white;
  text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5);
  font-family: "Roboto Slab", serif;
  font-size: 15px;
}
/* line 121, ../sass/modules/_login.scss */
.s-signin .btn-social .fa {
  position: absolute;
  left: 15px;
  font-size: 18px;
  top: 8px;
}
/* line 127, ../sass/modules/_login.scss */
.s-signin .btn-social.btn-facebook {
  background-color: #3a589b;
}
/* line 129, ../sass/modules/_login.scss */
.s-signin .btn-social.btn-facebook:hover {
  background-color: #4c6fbc;
}
/* line 133, ../sass/modules/_login.scss */
.s-signin .btn-social.btn-twitter {
  background-color: #598dca;
}
/* line 135, ../sass/modules/_login.scss */
.s-signin .btn-social.btn-twitter:hover {
  background-color: #80a8d6;
}
/* line 139, ../sass/modules/_login.scss */
.s-signin .btn-social.btn-google {
  background-color: #d6492f;
}
/* line 141, ../sass/modules/_login.scss */
.s-signin .btn-social.btn-google:hover {
  background-color: #de6e5a;
}
/* line 146, ../sass/modules/_login.scss */
.s-signin .btn-action {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
}

/* line 151, ../sass/modules/_login.scss */
.s-login-form-wrapp {
  border: 1px solid whitesmoke;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 25px;
  margin-top: 15px;
}
/* line 157, ../sass/modules/_login.scss */
.s-login-form-wrapp .s-or-register {
  margin-top: 15px;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  text-align: center;
}
/* line 162, ../sass/modules/_login.scss */
.s-login-form-wrapp .s-or-register a {
  display: block;
  font-size: 16px;
  margin-top: 5px;
  color: #ff6600;
}
/* line 167, ../sass/modules/_login.scss */
.s-login-form-wrapp .s-or-register a:hover {
  color: #5fbcd3;
}

/* line 12, ../sass/modules/_base.scss */
.s-loading {
  display: block;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
/* line 19, ../sass/modules/_base.scss */
.s-loading .s-loading-img {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 1px white, 0px 0px 0px 2px #cccccc;
  -moz-box-shadow: 0px 0px 0px 1px white, 0px 0px 0px 2px #cccccc;
  box-shadow: 0px 0px 0px 1px white, 0px 0px 0px 2px #cccccc;
  border: 1px solid #4d4d4d;
  width: 28px;
  height: 28px;
  margin-left: auto;
  margin-right: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/modules/core/img/loading.gif");
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  margin-right: 3px;
}
/* line 34, ../sass/modules/_base.scss */
.s-loading p {
  color: #4d4d4d;
  font-style: italic;
  font-family: "Roboto Slab", serif;
  display: inline;
  text-align: center;
}

/* line 43, ../sass/modules/_base.scss */
.s-btn {
  -webkit-border-radius: "3px";
  -moz-border-radius: "3px";
  -ms-border-radius: "3px";
  -o-border-radius: "3px";
  border-radius: "3px";
  background: none;
  background-color: white;
  font-family: "Roboto Slab", serif;
  border: 1px solid #ffcc00;
  color: black;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: center;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: box-shadow;
  -moz-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 3px #e6e6e6, 0px 0px 0px 5px white, inset 0px 3px 10px rgba(102, 82, 0, 0);
  -moz-box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 3px #e6e6e6, 0px 0px 0px 5px white, inset 0px 3px 10px rgba(102, 82, 0, 0);
  box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 3px #e6e6e6, 0px 0px 0px 5px white, inset 0px 3px 10px rgba(102, 82, 0, 0);
  outline: 0 !important;
}
/* line 50, ../sass/partials/_mixins.scss */
.s-btn:active {
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: box-shadow;
  -moz-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 3px #e6e6e6, 0px 0px 0px 5px white, inset 0px 3px 15px rgba(102, 82, 0, 0.3);
  -moz-box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 3px #e6e6e6, 0px 0px 0px 5px white, inset 0px 3px 15px rgba(102, 82, 0, 0.3);
  box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 3px #e6e6e6, 0px 0px 0px 5px white, inset 0px 3px 15px rgba(102, 82, 0, 0.3);
}

/* line 46, ../sass/modules/_base.scss */
.btn-action {
  background: #aaeeff;
  color: #216778;
  border: 1px solid #5fbcd3;
  font-family: "Roboto" , sans-serif;
  padding: 4px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.8);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.8);
}
/* line 55, ../sass/modules/_base.scss */
.btn-action:hover, .btn-action:active, .btn-action:focus, .btn-action:visited {
  color: #216778;
}
/* line 58, ../sass/modules/_base.scss */
.btn-action:hover {
  background: #c4f3ff;
}
/* line 61, ../sass/modules/_base.scss */
.btn-action .sprite {
  margin-right: 3px;
}

@media (max-width: 767px) {
  /* line 4, ../sass/modules/responsive/xs/_obra-xs.scss */
  .s-obra .s-obra-container .s-obra-content .s-obra-actions-wrapp {
    border-top: 1px solid #e6e6e6;
    padding-top: 5px;
    text-align: left;
  }
  /* line 8, ../sass/modules/responsive/xs/_obra-xs.scss */
  .s-obra .s-obra-container .s-obra-content .s-obra-actions-wrapp .btn-action {
    margin-top: 13px;
  }
  /* line 12, ../sass/modules/responsive/xs/_obra-xs.scss */
  .s-obra .s-obra-container .s-obra-content .s-obra-actions-wrapp .s-obra-s .s-view-wrappers {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
  }
  /* line 15, ../sass/modules/responsive/xs/_obra-xs.scss */
  .s-obra .s-obra-container .s-obra-content .s-obra-actions-wrapp .s-obra-s .s-comments {
    float: left;
    margin-top: 22px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
  }

  /* line 2, ../sass/modules/responsive/xs/_obra-detail-xs.scss */
  .s-oeuvre-view .s-obra-detail-wrapp {
    padding: 0px 15px;
  }

  /* line 2, ../sass/modules/responsive/xs/_header-xs.scss */
  .s-search-header .container {
    margin: 0px -30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 4, ../sass/modules/responsive/sm/_obra-sm.scss */
  .s-obra .s-obra-container .s-obra-content .s-obra-actions-wrapp {
    border-top: 1px solid #e6e6e6;
    padding-top: 5px;
    text-align: left;
  }
  /* line 9, ../sass/modules/responsive/sm/_obra-sm.scss */
  .s-obra .s-obra-container .s-obra-content .s-obra-actions-wrapp .btn-action {
    margin-top: 13px;
  }
  /* line 13, ../sass/modules/responsive/sm/_obra-sm.scss */
  .s-obra .s-obra-container .s-obra-content .s-obra-actions-wrapp .s-obra-s .s-view-wrappers {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
  }
  /* line 16, ../sass/modules/responsive/sm/_obra-sm.scss */
  .s-obra .s-obra-container .s-obra-content .s-obra-actions-wrapp .s-obra-s .s-comments {
    float: left;
    margin-top: 22px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
  }

  /* line 2, ../sass/modules/responsive/sm/_obra-detail-sm.scss */
  .s-oeuvre-view .s-obra-detail-wrapp {
    padding: 0px 15px;
  }

  /* line 2, ../sass/modules/responsive/sm/_header-sm.scss */
  .s-search-header .container {
    -webkit-transform: translateX(-55px);
    -moz-transform: translateX(-55px);
    -ms-transform: translateX(-55px);
    -o-transform: translateX(-55px);
    transform: translateX(-55px);
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 2, ../sass/modules/responsive/md/_obra-md.scss */
  .s-obra-actions-wrapp .btn-action {
    margin: 0px 2px 0px 0px !important;
  }

  /* line 2, ../sass/modules/responsive/md/_profile-md.scss */
  .s-profile .s-user {
    padding: 0px 50px;
  }
  /* line 4, ../sass/modules/responsive/md/_profile-md.scss */
  .s-profile .s-user .s-avatar-wrapp {
    margin-left: 0px;
  }
  /* line 9, ../sass/modules/responsive/md/_profile-md.scss */
  .s-profile .s-profile-container {
    padding: 0px 50px;
  }

  /* line 2, ../sass/modules/responsive/md/_header-md.scss */
  .s-search-header .container {
    -webkit-transform: translateX(-55px);
    -moz-transform: translateX(-55px);
    -ms-transform: translateX(-55px);
    -o-transform: translateX(-55px);
    transform: translateX(-55px);
  }
}
@media (min-width: 1200px) {
  /* line 2, ../sass/modules/responsive/lg/_header-lg.scss */
  .s-search-header .container {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@media (min-width: 1200px) and (max-width: 1300px) {
  /* line 9, ../sass/modules/responsive/lg/_base.scss */
  .s-search-header .container {
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px);
    transform: translateX(-50px);
  }
}
/* line 14, ../sass/core.scss */
a {
  outline: 0 !important;
}

/* line 18, ../sass/core.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 22, ../sass/core.scss */
body {
  color: #4d4d4d;
  font-family: "Roboto Slab Light";
  margin: 0 0 150px;
  /* bottom = footer height */
}
