/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

@import "partials/base";
@import "modules/base";
@import "modules/responsive/base";


a {
  outline: 0 !important;
}

html {
  position: relative;
  min-height: 100%;
}
body{
  color:$na2;
  font-family:"Roboto Slab Light";
  margin: 0 0 150px; /* bottom = footer height */
}
