.s-atelier-wrapp{
  .s-load-more{
    margin-top:20px;
    text-align:center;
    //padding:0px 18px;
    .btn{
      min-height:50px;
      width:100%;
    }
    & + .s-loading{
        position:absolute;
        left:50%;
        width:150px;
        margin-left:-70px;
    }
  }
  .s-nav-wrapp{
    padding: 0px 10px;
    position:relative;
    &:after{
      content: " ";
      display:block;
      height:130%;
      width:1px;
      position:absolute;
      display:block;
      right:0px;
      top:-10px;
      border-right:1px solid $na1;
    }
    .s-avatar{
      min-height:50px;
      margin-bottom:20px;
      .s-avatar-wrapp{
        overflow:hidden;
        img{
          height:100%;

        }
        .glyphicon{
          font-size:25px;
          color:white;
          line-height:50px;
          padding-left:12.5px;
        }
      }
      a{
        display:block;
        padding-left:60px;
        position:relative;
        color:$na3;
        &:hover, &:active{
          text-decoration:none;
          color:$mb3;
        }
         &:focus{
           text-decoration:none;
         }
        .s-avatar-wrapp{
          position:absolute;
          left:0px;
          top:0px;
          width:50px;
          height:50px;
          background:$mb2;
          @include border-radius(4px);
        }
        .s-avatar-text{
          padding-top:15px;
          h1{
            font-size:16px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          h2{
            font-family:"Roboto Light", sans-serif;
            font-size:14px;
            color:$na2;
          }
        }
      }
    }
  }

  .s-atelier-content{
    .s-featuring{
      background:$na1;
      min-height:200px;
      @include box-sizing(border-box);
      padding:10px 30px;
      margin-bottom:20px;
      position:relative;
      h4{
        position:absolute;
        bottom:15px;
        left:15px;
        letter-spacing:-1px;
        text-align:left;
        font-family:"Roboto Slab Light", sans-serif;
        font-size:30px;
        color:darken($na1,35%);
      }
    }

  }
}
.s-oeuvre{
  float:none;
  @include inline-block();
}

.s-obras-lista{
  li{
    margin-bottom:8px;
  }
  .s-miobra{
    padding-left:18px;
    a{
      font-family:"Roboto Slab", serif;
      color:$na2;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size:15px;
      &:hover, &:active, &:focus{
        text-decoration:none;
      }
      &:hover{
        color:$mb2;
      }
      .sprite{
        margin-right:5px;
        position:relative;
        top:-2px;
      }
    }
  }
  .s-all-obras{
    padding-left:18px;
    margin-top:12px;
    a{
      font-family:"Roboto Slab", serif;
      color:$na2;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size:13px;
      &:hover, &:active, &:focus{
        text-decoration:none;
      }
      &:hover{
        color:$mb2;
      }
      span{
        @include inline-block();
        padding:0px 8px;
        color:$na3;
      }
    }
  }
  .s-new-obra{
    padding:0px;
    margin-top:20px;
    a{
      display:block;
      font-size:14px;
      padding:2px 0px;
    }
  }
}

.s-mis-obras{
  h5{
    position:relative;
    border-top:1px solid $na1;
    margin-bottom:10px;

    &:before {
      position:absolute;
      left:0px;
      top:5px;
      content: " ";
      display:block;
      width:100%;
      z-index:0;
      border-top:1px solid $na1;
    }
    span{
      position:relative;
      top:-8px;
      left:15px;
      z-index:1px;
      font-size:15px;
      font-family:"Roboto Slab", serif;
      color:darken($na1,30%);
      @include inline-block();
      padding:0px 5px;
      background: $ba1;
    }
  }
}
.s-obras-nav{
  border-bottom:1px solid $ma2;
  position:relative;
  margin-bottom:25px;
  clear:both;
  &:before{
    position:absolute;
    content: " ";
    width:100%;
    display:block;
    bottom:-4px;
    left:0px;
    border-bottom:1px solid $na1;
  }
  .s-display-obra{
    a{
      cursor:pointer;
      color:$na3;
      width:25px;
      height:25px;
      @include inline-block();
      @include border-radius(3px);
      border:1px solid transparent;
      @include box-sizing(border-box);
      padding:2px 5px;
      &.active{
        border:1px solid $ma2;
      }
    }
  }
  .s-filter-obra{
    @include inline-block();
    margin-right:15px;
    a{
      padding:0px 14px;
      display:block;
      padding-bottom:10px;
      color:$na2;
      font-family:"Roboto Slab", sans-serif;
      cursor:pointer;
      @include transition-property(box-shadow);
      @include transition-duration(0.5s);
      @include box-shadow(inset 0px 0px 0px $ma2);

      &:hover, &:active, &:focus, &:visited{
        text-decoration:none;
        color:$na2;
      }
      &:hover{
        color:$mb2;
      }
    }
    &.active{
      a{
        @include transition-property(box-shadow);
        @include transition-duration(0.5s);
        @include box-shadow(inset 0px -4px 0px $ma2);
      }
    }
  }
}