@import "landing";
@import "header";
@import "footer";
@import "obra";
@import "atelier";
@import "profile";
@import "loader";
@import "obra-detail";
@import "login";


.s-loading{
  display:block;
  width:120px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;

  .s-loading-img{
    @include inline-block(middle);
    @include border-radius(50%);
    @include box-shadow(0px 0px 0px 1px $ba1,0px 0px 0px 2px lighten($na2,50%) );
    border:1px solid $na2;
    width:28px;
    height:28px;
    margin-left:auto;
    margin-right:auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-image:url('/modules/core/img/loading.gif');
    @include opacity(0.5);
    margin-right:3px;
  }
  p{
    color:$na2;
    font-style:italic;
    font-family:"Roboto Slab", serif;
    display:inline;
    text-align:center;
  }
}

.s-btn{
  @include btn-creator($ma2);
}
.btn-action{
  background: $mc1;
  color:$mc3;
  border:1px solid $mc2;
  font-family:"Roboto" , sans-serif;
  padding:4px 10px;
  @include border-radius(4px);
  @include box-shadow(inset 0px 1px 0px rgba(white,0.8));

  &:hover, &:active, &:focus, &:visited{
    color:$mc3;
  }
  &:hover{
    background: lighten($mc1,5%);
  }
  .sprite{
    margin-right:3px;
  }
}