.s-landing-footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  @include box-sizing(border-box);
  margin-top:40px;
  padding: 3px 50px 20px 50px;
  .s-social{
    li{
      @include inline-block();
    }
  }

  .s-footer-container{
    border-top : 1px solid $na1;
    padding-top:1px;
  }
  .s-footer-border{
    border-top : 1px solid  $ma2;
    padding-top:10px;
    position:relative;
    .s-deco{
      background:$ba1;
      @include border-radius(50%);
      padding:10px;
      position:absolute;
      top:-40.5px;
      left:50%;
      margin-left:-42.5px;
      &:before{
        content: " ";
        display:block;
        width:130%;
        height:10px;
        position:absolute;
        background:$ba1;
        top:50%;
        margin-top:-15px;
        margin-left:-20%;
      }
      .sprite{
        position:relative;
        z-index:1;
      }
    }
    &:after, &:before{
      content:" ";
      display:block;
      top:-76px;
      position:absolute;
    }
    &:after{
      left:-40px;
      @extend .sprite-fb1;
    }
    &:before{
      right:-40px;
      @extend .sprite-fb2;
    }
  }
  p{
    font-family:"Roboto", sans-serif;
    .sprite{
      margin-right:10px;
    }
  }

}
