.s-logged{
  position:absolute;
  top:15px;
  right:5px;
  .dropdown{
    a{
      background:none;
    }
    .dropdown-menu{
      margin-left:-190px;
    }
  }
}

.s-header{
  margin:11px 50px 0px 50px;
  border-top:1px solid $ma2;
  padding-top:2px;
  position:relative;
  @include box-sizing(border-box);
  .s-border-header{
    border-top:1px solid $na1;
    margin: 0px 5px;
    position:relative;
    &:after{
      position:absolute;
      @include inline-block();
      content: " ";
      @extend .sprite-hf1;
      top:4px;
      left:-45px;
    }
    &:before{
      position:absolute;
      @include inline-block();
      content: " ";
      @extend .sprite-hf2;
      top:4px;
      right:-45px;
    }
  }

  .s-search-header{

    h1{
      margin-top:30px;
      text-align:center;
      a{
        @include inline-block();
        text-decoration:none;
        font-size: "Roboto Slab Light", serif;
        color: $na3;
        font-size:22px;
        line-height:22px;
        letter-spacing: -1px;
        .sprite{
          @include transition-property(transform);
          @include transition-duration(2s);
          @include rotate(0);
          margin-right:4px;
          position:relative;
          top:-2px;
        }
      }
      &:hover{
        .sprite{
          @include transition-property(transform);
          @include transition-duration(5s);
          @include rotate(360);
        }
      }
    }
    .s-search{
      margin-top:25px;
      .s-search-group{
        @include inline-block();
        width:100%;
        max-width:300px;
      }
      .s-search-wrapp{
        @include border-radius(3px);
        @include box-shadow( 0px 0px 0px 2px $ba1 ,0px 0px 0px 3px $na1,0px 0px 0px 5px $ba1);
        border:1px solid $ma2;
        padding:1px;
      }
      input{
        @include box-shadow(0px 0px 0px transparent);
        border:0px;
        height:30px;
        border-right:1px solid $na1;
        outline: 0 !important;
//        font-family:"Roboto Regular", sans-serif;
        &:focus{
            @include box-shadow(inset 0px 0px 3px $ma1);
        }
      }
      button{
        height:30px;
        margin-left:1px;
        background:none;
        @include box-shadow(0px 0px 0px transparent);
        border:0px solid transparent;
        outline: 0 !important;
        color:$ma3;
        &:hover{
         // background:rgba($ma1,0.2);
        }
        &:active{
          background:none;
          @include box-shadow(inset 0px 5px 5px $na1, 0px -1px 0px $na1);
        }

      }
    }
  }
  .s-brand-header{

    h1{
      position:absolute;
      width:100%;
      margin-top:8px;
      a{
        text-align:center;
        display:block;
        margin-left:50%;
        width:200px;
        position:relative;
        left:-100px;
        font-size: "Roboto Slab Light", serif;
        color: $na3;
        font-size:29px;
        line-height:29px;
        .sprite{
          @include transition-property(transform);
          @include transition-duration(2s);
          @include rotate(0);
          margin-right:10px;
          position:relative;
          top:-2px;
        }
      }
      &:hover{
        .sprite{
          @include transition-property(transform);
          @include transition-duration(5s);
          @include rotate(360);
        }
      }
    }
    .s-tologg {
      li{
        padding:0px;
        background:none !important;
        a{
          padding-bottom:0px;
          padding-top:28px;
          color:$mb2;
          font-family:"Roboto Slab", serif;
          &:hover, &:active, &:visited, &:focus{
            background:none;
          }
          &:hover{
            color:$mc2;
            text-decoration:underline;
          }
        }
      }
    }

  }
}