
.s-main-bajada{
  h1{
    margin-top:60px;
    font-style: italic;
    font-size:36.5px;
    letter-spacing: -1.2px;
    white-space: pre-line;
    font-family: "Roboto Slab", serif;
    margin-bottom:10px;
  }
  p{
    font-size:16px;
    white-space: pre-line;
    font-family: "Roboto", serif;
    line-height:20px;
  }
}
.s-main-img{
  img{
    width:100%;
  }
}
.s-calltoacion{
  position:relative;
  text-align:center;
  margin-top:20px;
  margin-bottom:15px;

  &:after, &:before{
    position:absolute;
    content: " ";
    display: block;
    width:100%;
    top:50%;
    left:0px;
    border-top:1px solid $ma2;
  }
  &:before{
    margin-top:3px;
    border-top:1px solid $na1;
  }
  .s-btn-border{
    @include inline-block();
    background:$ba1;
    padding:0px 8%;
    position:relative;
    z-index:2;
    .s-register{
      font-size:21px;
      font-family:"Roboto Slab Light", serif;
      letter-spacing: -1.5px;
      padding: 5px 30px;
    }
  }
}
.s-text-calltoacion{
  text-align:center;
  font-size:16px;
  font-family: "Roboto", sans-serif;
  margin-bottom:30px;
}
.s-description-wrapp{
  background:rgba($na1,0.7);
  padding:20px 0px;
  position:relative;
  @include box-shadow(inset 0px 5px 0px 0px rgba($na1,0.7),inset 0px 6px 0px 0px $ba1);
  padding-bottom:80px;
  @include box-sizing(border-box);
  &:after{
    position:absolute;
    bottom:10px;
    left:10px;
    content : " ";
    @extend .landing-db1;
  }
  &:before{
    position:absolute;
    bottom:10px;
    right:10px;
    content : " ";
    @extend .landing-db2;
  }
  h1{
    text-align:center;
    font-size:32px;
    font-family:"Roboto Slab", serif;
    margin:10px 0px 10px 0px;
  }
  p{
    font-family:"Roboto", serif;
    text-align:center;
    font-size:14px;
  }
}
.s-features{
  margin-top:-50px;
  margin-bottom:40px;
  h1{
    font-family:"Roboto Slab";
    text-align:center;
    font-size:25px;
    margin:10px 0px;
  }
  p{
    color:lighten($na2,10%);
    font-size:14px;
    font-family:"Roboto", serif;
    line-height:18px;
  }
  .s-img{
    width:220px;
    height:220px;
    margin:0px auto;
    background:$na1;
    @include border-radius(50%);
    @include box-sizing(border-box);
    border:15px solid $ba1;
  }
  .s-feature-1{
    .s-img{
      background:$mb2;
    }
  }
  .s-feature-2{
    .s-img{
      background:$mc2;
    }
  }
  .s-feature-3{
    .s-img{
      background:$ma2;
    }
  }
}

