
.s-uploader-wrapp{
  position:fixed;
  bottom:25px;
  left:20px;
  z-index:10;
  .s-upload-message{
    cursor:pointer;
    @include inline-block();
    margin-left:5px;
    padding:2px 0px;

    .s-message-wrapp {
      background-color:rgba($ba1, 0.9);
      visibility: hidden;
      @include transform(scale(0));
      @include box-shadow(0px 6px 5px -8px $na2);
      border-top: 1px solid $na1;
      border-bottom: 1px solid $na1;
      padding: 0px 5px 0px 40px;
      line-height: 35px;
      font-family: "Roboto Light", sans-serif;
      font-size: 14px;
      position: relative;
      &:before {
        position: absolute;
        content: " ";
        display: block;
        width: 21px;
        height: 21px;
        background: $na1;
        left: 10px;
        top: 8px;
        @include border-radius(50%);
      }
      .glyphicon {
        margin-left: 3px;
        font-size: 10px;
        line-height: 35px;
      }

    }
    &.mostrar{
      .s-message-wrapp {
        visibility: visible;
        @include transform(scale(1));
        @include transition-duration(0.6s);
        @include transition-property(transform visibility);
      }
    }
    .s-msg-succ, .s-msg-err{
      display:none;
    }

    &.success{
      .s-msg-succ{
        display:inline;
      }
      .s-message-wrapp{
        @include box-shadow(0px 6px 5px -8px $sa2);
        border-color: $sa1;
        color:$sa3;
        .glyphicon{
          color:$sa1;
        }
        &:before{
          background: $sa1;
        }
      }
    }


    &.error{
      .s-msg-err{
        display:inline;
      }
      .s-message-wrapp{
        @include box-shadow(0px 6px 5px -8px $ea2);
        border-color: $ea1;
        color:$ea3;
        .glyphicon{
          color:$ea1;
        }
        &:before{
          background: $ea1;
        }
      }
    }


  }
  .s-uploader {
    width: 40px;
    height: 40px;
    @include inline-block();
    @include border-radius(100%);
    -webkit-animation: scaleout 1.0s infinite ease-in-out;
    animation: scaleout 1.0s infinite ease-in-out;
  }
  &.hide-loader{
    .s-uploader {
        display:none;
    }
  }

  &.auto-close{
  }

  &.no-loading{
    .s-upload-message{
      visibility: hidden;
      @include transition-duration(0.6s);
      @include transition-property(transform visibility);
      @include transform(translateX(-110%) scale(0.9));
    }
  }
}

@include keyframes(scaleout) {
  0% {
    @include scale(0.0);
    background-color: $mc3;

  }
  50%{
    background-color: $ma2;
    display:none;

  }
  100% {
    @include scale(1.0);
    @include opacity(0);
    background-color: $sa2;
    display:none;
  }
}

