.s-login{

}

.s-signup{
  .btn-action{
    margin-top:10px;
  }
  .s-social-login{
    margin-bottom:15px;
    padding-bottom:10px;
    border-bottom:1px solid $na1;
  }
  .s-signup-label{
    margin-bottom:10px;
    font-family:"Roboto Slab", serif;
    font-size:14px;
  }
  .s-signup-text{
    font-family:"Roboto Slab Light", sans-serif;
    font-style:italic;
    font-size:14px;
    &.s-signup-social{
      margin-bottom:8px;
    }
    &.s-signup-own{
      margin-bottom:15px;
    }
  }
}
.s-login-image-wrapp{

  text-align:center;
  position:relative;

  .s-frase{
    text-align:right;
    position:absolute;
    width:100%;
    bottom:40px;
    padding:20px 10px;
    padding-right:60px;
    background:rgba($ba1, 0.9);
    strong{
      font-family:"Roboto Slab", serif;
      margin-top:5px;
      font-size:18px;
      font-style:italic;
      display:block;
    }
  }
  img{
    max-width:100%;
    @include inline-block();

  }
}

.s-signin{
  .s-input-container{
    @include border-radius(3px);
    @include box-shadow( 0px 0px 0px 2px $ba1 ,0px 0px 0px 3px $na1,0px 0px 0px 5px $ba1);
    border:1px solid $ma2;
    padding:1px;
    .s-input-group {
      width: 100%;
    }
      input {
        @include box-shadow(0px 0px 0px transparent);
        border: 0px;
        height: 30px;
        border-left: 1px solid $na1;
        outline: 0 !important;
        font-family: "Roboto Slab", sans-serif;
        color: $na2;
        @include input-placeholder {
          color: darken($na1, 20%);
        }
      }
      .input-group-addon {
        height:30px;
        margin-left:1px;
        background:none;
        @include box-shadow(0px 0px 0px transparent);
        border:0px solid transparent;
        outline: 0 !important;
        color:darken($na1,20%);
      }

  }
  h3{
    margin-bottom:20px;
    font-size:19.5px;
    font-family:"Roboto Slab Light", serif;
  }
  .form-group{
    width:100%;
    margin-left:0px;
    margin-right:0px;
  }
  fieldset{
    border-bottom:1px solid $na1;
    padding-bottom:7px;
    margin-bottom:17px;
  }


  .btn-social{
    width:100%;
    margin:5px 0px;
    position:relative;
    padding-left:40px;
    background:$na1;
   // border-color:darken($na1,10%);
    border-color:transparent;
    color:white;
    @include text-shadow(-1px 1px 0px rgba($na3, 0.5));
    @include box-shadow(inset 0px 1px 0px rgba(white,0.5));
    font-family:"Roboto Slab", serif;
    font-size:15px;
    .fa{
      position:absolute;
      left:15px;
      font-size:18px;
      top:8px;
    }
    &.btn-facebook{
      background-color:#3a589b;
      &:hover{
        background-color:lighten(#3a589b,10%);
      }
    }
    &.btn-twitter{
      background-color:#598dca;
      &:hover{
        background-color:lighten(#598dca,10%);
      }
    }
    &.btn-google{
      background-color:#d6492f;
      &:hover{
        background-color:lighten(#d6492f,10%);
      }
    }
  }
  .btn-action{
    font-family:"Roboto Slab", serif;
    font-size:15px;
  }
}
.s-login-form-wrapp{
  border:1px solid lighten($na1,6%);
  @include border-radius(5px);
  padding-top:15px;
  padding-bottom:25px;
  margin-top:15px;
  .s-or-register{
    margin-top:15px;
    font-family:"Roboto Slab", serif;
    font-size:14px;
    text-align:center;
    a{
      display:block;
      font-size:16px;
      margin-top:5px;
      color:$mb2;
      &:hover{
        color:$mc2;
      }
    }
  }
}