

.s-mini{
  .s-obra{
    .s-obra-text{
      width:100%;
      p{
        display:none;
      }
    }
    .s-users{
      display:none;
    }
    .s-obra-container{
      .s-obra-content {
        .s-obra-text{
          h2{
            margin-bottom:3px;
          }
        }
        .s-obra-actions{
          width:100%;
        }
        .s-obra-actions-wrapp {
          display:none;
          border-top: 1px solid $na1;
          padding-top: 5px;
          text-align:left;

          .btn-action {
            margin-top: 13px;
          }
          .s-obra-s {
            .s-view-wrappers {
              @include inline-block();
            }
            .s-comments {
              float: left;
              margin-top: 22px;
              @include inline-block();
            }
          }
        }
      }
    }
  }
}

.s-obra {
  border:1px solid $na1;
  @include box-sizing(border-box);
  padding: 2px;
  margin-bottom:20px;

  .s-obra-container{
    border:1px solid $na1;
    padding: 18px;
    img{
      width:100%;
    }
    .s-obra-content{
      border-top:1px solid $na1;
      padding-top:20px;
      position:relative;
      margin-top:10px;
      &:before{
        content: " ";
        display:block;
        width:100%;
        position:absolute;
        top:2px;
        left:0px;
        border-top:1px solid $na1;
      }
      .s-obra-actions-wrapp{
        text-align:right;
        .btn-action{
          @include inline-block(bottom);
          margin-top:50px;
          margin-right:10px;
        }
        .s-obra-s{
          @include inline-block();
          float:right;
          .s-comments{
            cursor:pointer;
            margin-top:15px;
            position:relative;
            padding-right:30px;
            text-align:right;
            font-family:"Roboto  Bold", sans-serif;
            color:$na3;
            span{
              @include inline-block();
              color:$na3;
              font-size:25px;
              line-height: 25px;
              position:absolute;
              top:-2px;
              right:0px;
            }
          }
          .s-view-wrappers{
            h5{
              text-align: right;
              font-size:15px;
            }
            strong{
              display:block;
              text-align: right;
              color:$na2;
              font-size:28px;
              line-height: 28px;
              text-align:right;
              letter-spacing: -0.5spx;
            }
          }
        }
      }
      .s-obra-author{
        .s-users{
          padding:0px 00px;
          text-align:center;
          > .s-users-wrapp{
            border:0px solid transparent;
            overflow: hidden;
            margin-left:10px;
            margin-top:5px;
            height:70px;
            width:70px;
            background:$mb2;
            padding:0px;
            @include inline-block(middle);
            @include border-radius(4px);
            img{
              height:100%;
            }
            .glyphicon{
              color:white;
              @include inline-block();
              width:100%;
              text-align:center;
              line-height:70px;
              font-size: 30px;
            }
          }
        }
      }
      .s-obra-text{
        position:relative;
        @include box-sizing(border-box);
        h1{
          @include inline-block();
          margin-right:5px;
          a{
            color:$na3;
            font-family:"Roboto Slab", sans-serif;
            font-size:20px;
            &:hover{
              text-decoration:none;
              color:$mb2;
            }
          }
        }
        .s-stars{
          display:inline;
          li{
            @include inline-block();
            .glyphicon-star{
              display:none;
            }
            &.active{
              .glyphicon-star-empty{
                display:none;
              }
              .glyphicon-star{
                display:inline;
              }
            }
          }
        }
        h2{
          a {
            color: $mb2;
            &:hover {
              text-decoration:none;
              color: $na3;
            }
          }
        }
        p{
          font-size: 15px;
          line-height:18px;
          margin-top:8px;
          max-height:36px;
          overflow:hidden;
          &.s-no-description{
            color:darken($na1,25%);
            font-style:italic;
          }
        }
      }
    }
  }
}