.s-oeuvre-view{
  //padding:0px 15px;


  .s-obra {
    .s-obra-container {
      .s-obra-content {
        .s-obra-text {
          padding-top:15px;
          h1 {
            a {
              font-size:24px;
              &:hover{
                color:$na3;
              }
            }
          }

          .s-edit-oeuvre{
            margin-top:7px;
            @include inline-block();
            color:$mc2;
            cursor:pointer;
            &:hover{
              text-decoration:none;
              color:$mb2;
            }
          }

        }

      }

      .s-obra-actions{
        .s-obra-actions-wrapp{
          .s-view-wrappers{
            margin-top:25px ;
          }
          .btn-action{
            margin-top:38px;
            margin-right:27px;
          }
        }
      }

    }
  }
  .s-comment{
    & + .s-comment{
      margin-top:23px;
    }
    padding-left:55px;
    position:relative;
    .s-comment-text{
      h3{
        @include inline-block();
        a{
          color:$na3;
          font-family:"Roboto Slab", serif;
          &:hover{
            color:$mb2;
            text-decoration:none;
          }
        }
      }

      time{
        float:right;
        font-size:14px;
        color:$mc3;
      }
      p{
        margin-top:8px;
        font-size:14px;
        line-height:18px;
        font-family:"Roboto Light", serif;
      }

      border-left:1px solid $ma2;
      padding-left:10px;
      padding-bottom:4px;
      position:relative;
      &:before{
        content: " ";
        position:absolute;
        border-right:8px solid $ma2;
        display:block;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        width:0;
        height:0;
        left:-8px;
        top:5px;
      }

      &:after{
        content: " ";
        position:absolute;
        border-right:8px solid $ba1;
        display:block;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        width:0;
        height:0;
        left:-6px;
        top:5px;
      }

    }
    .s-avatar{
      position:absolute;
      top:-1px;
      left:0px;
      width:37px;
      height:37px;
      overflow:hidden;
      color:white;
      background:$mb2;
      text-align:center;
      .glyphicon{
        line-height:37px;
      }
      @include border-radius(4px);
      img{
        height:100%;
      }
    }
  }
  .s-obra-detail-wrapp{
    padding:0px 55px;
    h4{
      font-size:20px;
      font-family: "Roboto Slab", serif;
      margin:10px 0px 10px 0px;
      color:lighten($na2,20);
    }
    .s-description{
      padding:0px;
      float:none;
      font-family:"Roboto Light", sans-serif;
      margin-bottom:30px;
      font-size:15px;
    }
    .s-no-comments{
      text-align:center;
      font-style: italic;
      font-size:14px;
      position:relative;
      span{
        position:relative;
        z-index:1;
        background:$ba1;
        @include inline-block();
        padding:0px 20px;
      }
      &:before{
          content:" ";
          width:100%;
          border-top:1px solid $na1;
          display:block;
          position:absolute;
          top:50%;
      }
    }
  }


  .s-comment-action{
    margin-top:35px;
    margin-bottom:20px;
    @include box-sizing(border-box);
    padding-left:50px;
    position:relative;
    .s-avatar{
      position:absolute;
      top:-1px;
      left:0px;
      width:37px;
      height:37px;
      overflow:hidden;
      color:white;
      background:$mb2;
      text-align:center;
      .glyphicon{
        line-height:37px;
      }
      @include border-radius(4px);
      img{
        height:100%;
      }
    }
    .s-comment-group{
      @include inline-block();
      width:100%;
    }
    .s-comment-wrapp{
      @include border-radius(3px);
      @include box-shadow( 0px 0px 0px 2px $ba1 ,0px 0px 0px 3px $na1,0px 0px 0px 5px $ba1);
      border:1px solid $ma2;
      padding:1px;
    }
    input{
      @include box-shadow(0px 0px 0px transparent);
      border:0px;
      height:30px;
      border-right:1px solid $na1;
      outline: 0 !important;
      font-family:"Roboto", sans-serif;
      &:focus{
        @include box-shadow(inset 0px 0px 3px rgba($ma1,0.5));
      }
    }
    button{
      height:30px;
      margin-left:1px;
      background:none;
      font-family:"Roboto Slab", serif;
      @include box-shadow(0px 0px 0px transparent);
      border:0px solid transparent;
      outline: 0 !important;
      color:$ma3;
      .glyphicon{
        margin-right:5px;
      }
      &:hover{
        // background:rgba($ma1,0.2);
      }
      &:active{
        background:none;
        @include box-shadow(inset 0px 5px 5px $na1, 0px -1px 0px $na1);
      }

    }
  }

}
