.s-profile{
  .s-profile-mainimg{
    margin-bottom:20px;

    .s-image-wrapp{
      min-height:250px;
      background-color:$na1;
      border:1px solid darken($na1,10%);
      margin-bottom:10px;

    }
    .s-avatar-wrapp{
      margin-left:15px;
      margin-top:-40px;
      height:110px;
      width:110px;
      margin-right:10px;
      @include border-radius(10px);
      background-color:$mb2;
      @include inline-block();
      position:relative;
      overflow: hidden;
      img{
        height:100%;
        margin-left:50%;
        @include translateX(-50%);
      }
      .glyphicon{
        color:$ba1;
        font-size:50px;
        width:100%;
        text-align:center;
        line-height:110px;
      }
    }
    .s-user-text{
      @include inline-block(top);
      h1{
        font-family:"Roboto Slab" , serif;
        font-size:19px;
        margin-bottom:5px;
      }
      p{
        font-size:15px;
        font-family:"Roboto Light", sans-serif;
      }
    }
  }
  .s-fast-obra{
    h5{
      border-bottom:1px solid $na1;
      position:relative;
      margin-bottom:25px;
      padding-bottom:10px;
      line-height:16px;
      font-size:15px;
      //padding-left:10px;
      font-family:"Roboto Slab", serif;
      color:lighten($na2,20%);
      &:before{
        position:absolute;
        content: " ";
        width:100%;
        display:block;
        bottom:-4px;
        left:0px;
        border-bottom:1px solid $na1;
      }
    }
    .s-obras-lista{
      li{
        padding-left:0px;
      }
    }
  }
}