.s-obra{
  .s-obra-container{
    .s-obra-content{
      .s-obra-actions-wrapp{
        border-top:1px solid $na1;
        padding-top:5px;
        text-align:left;

        .btn-action{
          margin-top:13px;
        }
        .s-obra-s{
          .s-view-wrappers{
            @include inline-block();
          }
          .s-comments{
            float:left;
            margin-top:22px;
            @include inline-block();
          }
        }
      }
    }
  }
}