<section class="s-atelier-wrapp" data-ng-init="load()">
    <div class="container">
        <div class="row">
            <aside class="col-md-3 col-lg-2 col-sm-4">
                <div class="s-nav-wrapp">
                    <article class="s-avatar">
                        <a href="/#!/profile/{{authentication.user._id}}">
                            <div class="s-avatar-wrapp">
                                <span data-ng-if="!authentication.isSocialUser('facebook')" class="glyphicon glyphicon-user"></span>
                                <img data-ng-if="authentication.isSocialUser('facebook')" src="https://graph.facebook.com/{{authentication.user.providerData.id}}/picture?type=square "/>
                            </div>
                            <div class="s-avatar-text">
                                <h1>{{authentication.user.displayName}}</h1>
                                <h2>Mi galeria</h2>
                            </div>
                        </a>
                    </article>
                    <article class="s-mis-obras">
                        <h5>
                            <span>Mis Obras</span>
                        </h5>
                        <ul class="s-obras-lista">
                            <li class="s-miobra" data-ng-repeat="miobra in myOeuvres">
                                <a href="#/obra/ID">
                                    <span class="sprite sprite-miobra"></span> {{miobra.title}}
                                </a>
                            </li>
                            <li class="s-all-obras">
                                <a href="/#!/profile/{{authentication.user._id}}">
                                    <span>+</span> Ver Todas
                                </a>
                            </li>
                            <li class="s-new-obra">
                                <a href="#!/paint" class="btn btn-action">
                                    <span class="sprite sprite-paint"></span> Nuevo dibujo
                                </a>
                            </li>
                        </ul>
                    </article>
                </div>
            </aside>
            <section class="col-md-9 col-lg-10 col-sm-8">
                <div class="s-atelier-content">
                    <div class="s-featuring">
                        <h4>Obra destacada</h4>
                        <img />
                    </div>
                    <div class="s-obras-wrapp">
                        <ul class="s-obras-nav">
                            <li class="s-filter-obra" data-ng-class="{active: order=='-created'}"><a data-ng-click="changeOrder('-created')">Nuevos</a></li>
                            <li class="s-filter-obra" data-ng-class="{active: order=='-views'}"><a data-ng-click="changeOrder('-views')">Popular</a></li>
                            <li class="s-filter-obra" data-ng-class="{active: order=='cooeuvre'}"><a data-ng-click="changeOrder('-cooeuvres')">Obras en conjunto</a></li>
                            <li class="s-display-obra pull-right">
                                <a data-ng-class="{active: view=='mini'}" data-ng-click="changeViewStyle('mini')"><span class="glyphicon glyphicon-th-large"></span></a>
                                <a data-ng-class="{active: view=='full'}" data-ng-click="changeViewStyle('full')"><span class="sprite sprite-fullview"></span></a>
                            </li>
                        </ul>

                        <ul class="s-obras" data-ng-class="{'row' : view=='mini'}" data-infinite-scroll="find()" infinite-scroll-distance="1" data-infinite-scroll-immediate-check="false">
                            <li class="s-oeuvre" data-ng-class="{'s-mini col-md-4 col-sm-6' : view=='mini'}"  data-ng-repeat="oeuvre in oeuvres | orderBy:order"  >
                                <section class=" s-obra b1">
                                    <div class="s-obra-container container-fluid">
                                        <a href="#!/oeuvre/{{oeuvre._id}}"><img data-ng-if="oeuvre._id" src="{{oeuvre.img}}"/></a>
                                        <div class="row ">
                                            <div class="s-obra-content">
                                                <div class="s-obra-author col-md-2 col-sm-3 col-xs-4" >
                                                    <div class="s-users">
                                                        <a href="#!/profile/{{oeuvre.user._id}}" class="s-users-wrapp">
                                                            <span class="glyphicon glyphicon-user" data-ng-if="!authentication.isSocialUser('facebook', oeuvre.user)"></span>
                                                            <img data-ng-if="authentication.isSocialUser('facebook', oeuvre.user)"  src="https://graph.facebook.com/{{oeuvre.user.providerData.id}}/picture?type=square "/>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="s-obra-text col-md-7 col-sm-9 col-xs-8">
                                                    <h1><a href="#!/oeuvre/{{oeuvre._id}}">{{oeuvre.title}}</a></h1>
                                                    <ul class="s-stars" data-ng-init="rating(oeuvre, $index)">
                                                        <li data-ng-class="{active: oeuvre.ratingprom >= 1  }"><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span></li>
                                                        <li data-ng-class="{active: oeuvre.ratingprom >= 2  }"><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span></li>
                                                        <li data-ng-class="{active: oeuvre.ratingprom >= 3  }"><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span></li>
                                                        <li data-ng-class="{active: oeuvre.ratingprom >= 4  }"><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span></li>
                                                        <li data-ng-class="{active: oeuvre.ratingprom >= 5  }"><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span></li>
                                                    </ul>
                                                    <h2>por <a href="#!/profile/{{oeuvre.user._id}}">{{oeuvre.user.displayName}}</a> </h2>
                                                        <p data-ng-show="oeuvre.description">{{oeuvre.description}}</p>
                                                        <p data-ng-show="!oeuvre.description" class="s-no-description">
                                                            No posee descripción, última vez modificada {{tool.humanDate(oeuvre.created)}}
                                                        </p>
                                                </div>
                                                <div class="s-obra-actions col-md-3 col-sm-12 col-xs-12">
                                                    <div class="s-obra-actions-wrapp">
                                                        <a class="btn btn-action">
                                                            <span class="sprite sprite-paint"></span> Dibujar
                                                        </a>
                                                        <div class="s-obra-s">
                                                            <div class="s-view-wrappers">
                                                                <h5>
                                                                    Visitas
                                                                </h5>
                                                                <strong class="s-count-views">
                                                                    {{oeuvre.views}}
                                                                </strong>
                                                            </div>
                                                            <div class="s-comments">
                                                                {{oeuvre.comments.length}}
                                                                <span class="glyphicon glyphicon-comment"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </li>
                        </ul>
                        <div class="s-load-more" data-ng-show="noLoad">
                            <button class="btn s-btn" data-ng-click="find(true)">
                                <span class="sprite sprite-more"></span>
                                Cargar más
                            </button>
                        </div>
                        <aside class="s-loading" data-ng-show="loading">
                            <div class="s-loading-img">
                            </div>
                            <p>Cargando...</p>
                        </aside>

                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
