<section  data-ng-controller="MeProfileController">
    <div class="container">
        <div class="row">
            <h3 class="col-md-12 text-center" data-ng-show="hasConnectedAdditionalSocialAccounts()">Connected social accounts:</h3>
            <div class="col-md-12 text-center">
                <div data-ng-repeat="(providerName, providerData) in user.additionalProvidersData" class="remove-account-container">
                    <img ng-src="/modules/users/img/buttons/{{providerName}}.png">
                    <a class="btn btn-danger btn-remove-account" data-ng-click="removeUserSocialAccount(providerName)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
            </div>
            <h3 class="col-md-12 text-center">Connect other social accounts:</h3>
            <div class="col-md-12 text-center">
                <a href="/auth/facebook" data-ng-hide="isConnectedSocialAccount('facebook')" class="undecorated-link">
                    <img src="/modules/users/img/buttons/facebook.png">
                </a>
                <a href="/auth/twitter" data-ng-hide="isConnectedSocialAccount('twitter')" class="undecorated-link">
                    <img src="/modules/users/img/buttons/twitter.png">
                </a>
                <a href="/auth/google" data-ng-hide="isConnectedSocialAccount('google')" class="undecorated-link">
                    <img src="/modules/users/img/buttons/google.png">
                </a>
            </div>
        </div>
    </div>
</section>