<section class="s-profile" data-ng-init="load()">
    <div class="container">
        <div class="row">
            <header class="col-md-12 ">
                <div class="s-profile-mainimg">
                    <div  class="s-image-wrapp">
                        <img />
                    </div>
                    <div class="s-user">
                        <div class="s-avatar-wrapp">
                            <span data-ng-if="!authentication.isSocialUser('facebook',user)" class="glyphicon glyphicon-user"></span>
                            <img data-ng-if="authentication.isSocialUser('facebook',user)" src="https://graph.facebook.com/{{user.providerData.id}}/picture?type=large "/>-->
                        </div>
                        <div class="s-user-text">
                            <h1>{{user.displayName}}</h1>
                            <p>Por favor ingrese su biografia</p>
                        </div>
                    </div>
                </div>
            </header>
            <div class="col-md-12">
                <div class="row">
                    <div class="s-profile-container">
                        <aside class="col-md-2">
                            <div class="s-fast-obra">
                                <h5><span data-ng-if="mine">Mis</span> Obras</h5>
                                <ul class="s-obras-lista">
                                    <li class="s-miobra" data-ng-repeat="oeuvre in user.oeuvres | orderBy:order">
                                        <a href="#/obra/ID">
                                            <span class="sprite sprite-miobra"></span> {{oeuvre.title}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                        <div class="col-md-10">
                            <ul class="s-obras-nav">
                                <li class="s-filter-obra" data-ng-class="{active: order=='-created'}"><a data-ng-click="changeOrder('-created')">Ùltimas obras</a></li>
                                <li class="s-filter-obra" data-ng-class="{active: order=='-views'}"><a data-ng-click="changeOrder('-views')">Favoritos</a></li>
                                <li class="s-display-obra pull-right">
                                    <a data-ng-class="{active: view=='mini'}" data-ng-click="changeViewStyle('mini')"><span class="glyphicon glyphicon-th-large"></span></a>
                                    <a data-ng-class="{active: view=='full'}" data-ng-click="changeViewStyle('full')"><span class="sprite sprite-fullview"></span></a>
                                </li>
                            </ul>
                            <ul class="s-obras" data-ng-class="{'row' : view=='mini'}"  >
                                <li class="s-oeuvre" data-ng-class="{'s-mini col-md-4 col-sm-6' : view=='mini'}"  data-ng-repeat="oeuvre in user.oeuvres | orderBy:order"  >
                                    <section class=" s-obra b1">
                                        <div class="s-obra-container container-fluid">
                                            <a href="#!/oeuvre/{{oeuvre._id}}"><img src="{{oeuvre.img}}"/></a>
                                            <div class="row ">
                                                <div class="s-obra-content">
                                                    <div class="s-obra-text col-md-8 col-sm-6 col-xs-12">
                                                        <h1><a href="#!/oeuvre/{{oeuvre._id}}">{{oeuvre.title}}</a></h1>
                                                        <ul class="s-stars" data-ng-init="rating(oeuvre, $index)">
                                                            <li data-ng-class="{active: oeuvre.ratingprom >= 1  }"><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span></li>
                                                            <li data-ng-class="{active: oeuvre.ratingprom >= 2  }"><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span></li>
                                                            <li data-ng-class="{active: oeuvre.ratingprom >= 3  }"><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span></li>
                                                            <li data-ng-class="{active: oeuvre.ratingprom >= 4  }"><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span></li>
                                                            <li data-ng-class="{active: oeuvre.ratingprom >= 5  }"><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span></li>
                                                        </ul>
                                                        <p data-ng-show="oeuvre.description">{{oeuvre.description}}</p>
                                                        <p data-ng-show="!oeuvre.description" class="s-no-description">
                                                            No posee descripción, última vez modificada {{tool.humanDate(oeuvre.created)}}
                                                        </p>
                                                    </div>
                                                    <div class="s-obra-actions col-md-4 col-sm-6 col-xs-12">
                                                        <div class="s-obra-actions-wrapp">
                                                            <a class="btn btn-action">
                                                                <span class="sprite sprite-paint"></span> Dibujar
                                                            </a>
                                                            <div class="s-obra-s">
                                                                <div class="s-view-wrappers">
                                                                    <h5>
                                                                        Visitas
                                                                    </h5>
                                                                    <strong class="s-count-views">
                                                                        {{oeuvre.views}}
                                                                    </strong>
                                                                </div>
                                                                <div class="s-comments">
                                                                    {{oeuvre.comments.length}}
                                                                    <span class="glyphicon glyphicon-comment"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2" data-ng-if="mine">
                    <form data-ng-submit="updateUserProfile()" class="signin form-horizontal" autocomplete="off">
                        <fieldset>
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Username">
                            </div>
                            <div class="text-center form-group">
                                <button type="submit" class="btn btn-large btn-primary">Save Profile</button>
                            </div>
                            <div data-ng-show="success" class="text-center text-success">
                                <strong>Profile Saved Successfully</strong>
                            </div>
                            <div data-ng-show="error" class="text-center text-danger">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>