<section data-ng-controller="AuthenticationController" class="s-login">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 hidden-xs s-login-image-wrapp">
                <img src="/modules/core/img/login.jpg"/>
                <p class="s-frase">
                    La genialidad es la habilidad de renovar nuestras emociones todos los días.
                    <strong>Paul Cezanne</strong>
                </p>
            </div>
            <div class="col-md-4 col-sm-6 s-login-form-wrapp">
                <form data-ng-submit="signin()" class="signin s-signin form-horizontal" autocomplete="off">
                    <h3 >Ingresa</h3>
                    <fieldset>
                        <div class="form-group s-input-login">
                            <div class="s-input-container">
                                <div class="input-group s-input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                    <input type="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="form-group s-input-login">
                            <div class="s-input-container">
                                <div class="input-group s-input-group">
                                    <div class="input-group-addon"><span class="fa fa-key"></span></div>
                                    <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Contraseña">
                                </div>
                            </div>
                        </div>
                        <div class=" form-group s-input">
                            <button type="submit" class="form-control btn btn-action">Ingresa a Sinergia</button>
                        </div>
                        <div data-ng-show="error" class="text-center text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </fieldset>
                    <a href="/auth/facebook" class="btn btn-social btn-facebook">
                        <span class="fa fa-facebook"></span>
                        Ingresa con Facebook
                    </a>
                    <a href="/auth/twitter" class="btn btn-social btn-twitter">
                        <span class="fa fa-twitter"></span>
                        Ingresa con Twitter
                    </a>
                    <a href="/auth/google" class="btn btn-social btn-google">
                        <span class="fa fa-google"></span>
                        Ingresa con Google
                    </a>
                </form>
                <div class="s-or-register">
                    <p>Si no posees ninguna cuenta puedes</p>
                    <a href="/#!/signup">Registrate</a>
                </div>
            </div>
        </div>
    </div>
</section>