<section data-ng-controller="AuthenticationController" class="s-signup">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 hidden-xs s-login-image-wrapp">
                <img src="/modules/core/img/signup.jpg"/>
                <p class="s-frase">
                    La inspiración existe, pero tiene que encontrarte trabajando.
                    <strong>Pablo Picasso</strong>
                </p>
            </div>
            <div class="col-md-4 col-sm-6 s-login-form-wrapp">
                <form data-ng-submit="signup()" class="signin s-signin form-horizontal" novalidate autocomplete="off">
                    <h3 >Registrate</h3>
                    <p class="s-signup-text s-signup-social">Puedes registrate con tu cuenta de: </p>
                    <div class="s-social-login">
                        <a href="/auth/facebook" class="btn btn-social btn-facebook">
                            <span class="fa fa-facebook"></span>
                            Ingresa con Facebook
                        </a>
                        <a href="/auth/twitter" class="btn btn-social btn-twitter">
                            <span class="fa fa-twitter"></span>
                            Ingresa con Twitter
                        </a>
                        <a href="/auth/google" class="btn btn-social btn-google">
                            <span class="fa fa-google"></span>
                            Ingresa con Google
                        </a>
                    </div>
                    <p class="s-signup-text s-signup-own">O crea tu propia cuenta:  </p>

                    <fieldset>
                        <label class="s-signup-label s-name" for="firstName">Nombre completo</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group s-input-login">
                                    <div class="s-input-container">
                                        <input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="Nombre">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group s-input-login">
                                    <div class="s-input-container">
                                        <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Apellido">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label class="s-signup-label" for="email">Email</label>
                        <div class="form-group s-input-login">
                            <div class="s-input-container">
                                <input type="text" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Ej: tu@corre.com">
                            </div>
                        </div>
                        <label class="s-signup-label" for="password">Contraseña</label>
                        <div class="form-group s-input-login">
                            <div class="s-input-container">
                                <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Minimo 8 dígitos">
                            </div>
                        </div>

                        <div class=" form-group s-input">
                            <button type="submit" class="form-control btn btn-action">Registrarte</button>
                        </div>
                        <div data-ng-show="error" class="text-center text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </fieldset>

                </form>
                <div class="s-or-register">
                    <p>Si ya posees una cuenta puedes</p>
                    <a href="/#!/signin">Ingresar</a>
                </div>
            </div>
        </div>
    </div>
</section>