<section>
    <canvas id="paint-canvas" width ="900" height="500" style="width:100%; position:absolute; top:0px; height:100%;">
    </canvas>
    <input type="checkbox" id="toggle" /><label for="toggle">Erase</label>
    <input type="color" id="color" data-ng-model="brush.color.hex" /><label for="toggle">Color</label>

    <button data-ng-click="upload()">upload</button>

</section>
