@mixin rotate( $degrees ) {
  -webkit-transform: rotate(#{$degrees}deg);
  -moz-transform: rotate(#{$degrees}deg);
  -ms-transform: rotate(#{$degrees}deg);
  -o-transform: rotate(#{$degrees}deg);
  transform: rotate(#{$degrees}deg);

  filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
  zoom: 1;
}

@mixin keyframes( $animationName )
{
  @-webkit-keyframes $animationName {
    @content;
  }
  @-moz-keyframes $animationName {
    @content;
  }
  @-o-keyframes $animationName {
    @content;
  }
  @keyframes $animationName {
    @content;
  }
}

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

@mixin btn-creator($border-color, $shadow-color : $na1, $color:$na3 , $background-color : $ba1, $inner-color: $ba1, $round: '3px'){
  @include border-radius($round);
  background:none;
  background-color:$inner-color;
  font-family:"Roboto Slab", serif;
  border:1px solid $border-color;
  color:$color;
  @include inline-block(center);
  @include transition-duration(0.5s);
  @include transition-property(box-shadow);
  @include box-shadow( 0px 0px 0px 2px $background-color ,0px 0px 0px 3px $shadow-color,0px 0px 0px 5px $background-color, inset 0px 3px 10px rgba(darken($border-color,30%),0.0 ));
  outline: 0 !important;

  &:active{
    @include transition-duration(0.1s);
    @include transition-property(box-shadow);
    @include box-shadow(0px 0px 0px 2px $background-color ,0px 0px 0px 3px $shadow-color,0px 0px 0px 5px $background-color, inset 0px 3px 15px rgba(darken($border-color,30%),0.3 ));
  }
}
