<section class="s-oeuvre-view" data-ng-init="load()">
    <div class="container">
        <div class="row">
            <section class="col-md-10 col-md-offset-1">
                <div class=" s-obra b1">
                    <div class="s-obra-container container-fluid">
                        <a><img src="{{oeuvre.img}}"/></a>
                        <div class="row ">
                            <div class="s-obra-content">
                                <div class="s-obra-author col-md-2 col-sm-2 col-xs-4" >
                                    <div class="s-users">
                                        <a href="#!/profile/{{oeuvre.user._id}}" class="s-users-wrapp">
                                            <span class="glyphicon glyphicon-user" data-ng-if="!authentication.isSocialUser('facebook', oeuvre.user)"></span>
                                            <img data-ng-if="authentication.isSocialUser('facebook', oeuvre.user)"  src="https://graph.facebook.com/{{oeuvre.user.providerData.id}}/picture?type=square "/>
                                        </a>
                                    </div>
                                </div>
                                <div class="s-obra-text col-md-6 col-sm-10 col-xs-8">
                                    <h1><a>{{oeuvre.title}}</a> </h1>
                                    <ul class="s-stars">
                                        <li data-ng-class="{active: oeuvre.ratingprom >= 1  }"><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span></li>
                                        <li data-ng-class="{active: oeuvre.ratingprom >= 2  }"><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span></li>
                                        <li data-ng-class="{active: oeuvre.ratingprom >= 3  }"><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span></li>
                                        <li data-ng-class="{active: oeuvre.ratingprom >= 4  }"><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span></li>
                                        <li data-ng-class="{active: oeuvre.ratingprom >= 5  }"><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star"></span></li>
                                    </ul>
                                    <h2 data-ng-if="!mine"> por <a href="#!/profile/{{oeuvre.user._id}}">{{oeuvre.user.displayName}}</a> </h2>
                                    <div data-ng-if="mine">
                                        <a class="s-edit-oeuvre" ><span class="glyphicon glyphicon-edit"></span> Editar</a>
                                    </div>
                                </div>
                                <div class="s-obra-actions col-md-4 col-sm-12 col-xs-12">
                                    <div class="s-obra-actions-wrapp">
                                        <a class="btn btn-action">
                                            <span class="sprite sprite-paint"></span> Dibujar
                                        </a>
                                        <div class="s-obra-s">
                                            <div class="s-view-wrappers">
                                                <h5>
                                                    Visitas
                                                </h5>
                                                <strong class="s-count-views">
                                                    {{oeuvre.views}}
                                                </strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <article class="col-md-10 col-md-offset-1 s-obra-detail">
                <div class="s-obra-detail-wrapp">
                    <h4>Descripción</h4>
                    <div class="s-description col-md-8">
                        <p data-ng-show="oeuvre.description">{{oeuvre.description}}</p>
                        <p data-ng-show="!oeuvre.description" class="s-no-description">
                            No posee descripción, última vez modificada {{tool.humanDate(oeuvre.created)}}
                        </p>
                    </div>
                    <p data-ng-if="oeuvre.comments.length==0" class="s-no-comments">
                        <span>No hay comentarios sobre esta obra, sé el primero en comentar</span>
                    </p>

                    <form class="s-comment-action" name="comentform" data-ng-submit="comment(comentform)" data-ng-if="oeuvre.comments.length > 5 && authentication.user" no-validate="true">
                        <span class="s-avatar">
                            <span class="glyphicon glyphicon-user" data-ng-if="!authentication.isSocialUser('facebook')"></span>
                            <img data-ng-if="authentication.isSocialUser('facebook')"  src="https://graph.facebook.com/{{authentication.user.providerData.id}}/picture?type=square "/>
                        </span>
                        <div class="form-group  s-comment-group">
                            <div class="input-group s-comment-wrapp">
                                <input type="text" class="form-control" required placeholder ="Decinos que te parece..." data-ng-model="comentform.message">
                              <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    Comentar
                                </button>
                              </span>
                            </div>
                        </div>
                    </form>

                    <ul clas="s-comments" data-ng-if="oeuvre.comments.length > 0 ">
                        <li class="s-comment" data-ng-repeat="comment in oeuvre.comments">
                            <article >
                                <a href="#!/profile/{{comment.user._id}}">
                                    <span class="s-avatar">
                                        <span class="glyphicon glyphicon-user" data-ng-if="!authentication.isSocialUser('facebook', comment.user)"></span>
                                        <img data-ng-if="authentication.isSocialUser('facebook', comment.user)"  src="https://graph.facebook.com/{{comment.user.providerData.id}}/picture?type=square "/>
                                    </span>
                                </a>
                                <div class="s-comment-text">
                                    <h3><a href="#!/profile/{{comment.user._id}}">{{comment.user.displayName}}</a></h3>
                                    <time datetime="{{}}">{{tool.humanDate(comment.created)}} </time>

                                    <p>{{comment.message}}</p>
                                </div>
                            </article>
                        </li>
                    </ul>

                    <form class="s-comment-action" name="comentform" data-ng-submit="comment(comentform)" data-ng-if="authentication.user">
                        <span class="s-avatar">
                            <span class="glyphicon glyphicon-user" data-ng-if="!authentication.isSocialUser('facebook')"></span>
                            <img data-ng-if="authentication.isSocialUser('facebook')"  src="https://graph.facebook.com/{{authentication.user.providerData.id}}/picture?type=square "/>
                        </span>
                        <div class="form-group  s-comment-group">
                            <div class="input-group s-comment-wrapp">
                                <input type="text" class="form-control" required placeholder ="Decinos que te parece..." data-ng-model="comentform.message">
                              <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    Comentar
                                </button>
                              </span>
                            </div>
                        </div>
                    </form>
                </div>

            </article>
        </div>
    </div>
</section>
